.file-container {
	margin-left: 1rem;
	padding: 0.5rem;
	border: dashed 1px gray;
	width: 40%;
	i {
	  color: grayscale($color: #353535);
	}
  
	input {
	  opacity: 0;
	  position: absolute;
	  width: 39%;
	}
  }
  
  .input-file-border {
	border: dashed 1px gray;
  }
  
  .file-name {
	padding-top: 5px;
  }
.w-40 {
	width: 40%;
}