@import '../../../utils/styles/inputs.scss';
.slider-home {
    #myCarousel {
		height: 320px;
		.carousel-inner {
			height: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
		}
	}

    .title-slider {
		height: 68px;
		background-color: $primaryColor;
		padding-top: 17px;
		h1 {
			font-size: 24px;
			font-weight: 900;
			color: $white;
			}
	}
}