<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<app-button-back></app-button-back>
<div class="container-fluid">
    <div class="card mb-2">
      <div class="card-header background-card-header pb-0">
        <div class="card-title font-size-30 text-white">
           {{ 'carpeta_ciudadana.sign-notification-receipt.receipt' | translate }}
        </div>
      </div>
      <div class="m-4">
        <label innerHtml="{{ 'carpeta_ciudadana.sign-notification-receipt.text' | translate }}"></label>
        </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn-app-primary-rounded m-button  text-uppercase" (click)="signReceipt()">{{ 'carpeta_ciudadana.sign-notification-receipt.button' | translate}}</button>
  </div>