<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<div class="row mx-0 mt-2 blockA">
    <div class="col-md-6">
        <app-datos-interesado></app-datos-interesado>
    </div>
    <div class="col-md-6">
        <app-datos-notificacion></app-datos-notificacion>
    </div>
</div>
<div class="card mb-2 m-3">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-user mr-2"></em>
            <label>{{ 'carpeta_ciudadana.instance.notification.title' | translate }}</label>
        </div>
    </div>
<div class="mx-0 mt-2">
    <div class="card-text row pt-3">
        <div class="form-group col-md-3">
            <label for="resum">
                {{ 'carpeta_ciudadana.instance.notification.resum' | translate }} <b>*</b>
            </label>
            <input id="resum" name="resum" type="text" class="form-control">
        </div>
    </div>
    <div class="card-text row pt-3">
        <div class="form-group col-md-6">
            <label for="expone">
                {{ 'carpeta_ciudadana.instance.notification.expone' | translate }} <b>*</b>
            </label>
            <input id="expone" name="expone" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="request">
                {{ 'carpeta_ciudadana.instance.notification.request' | translate }} <b>*</b>
            </label>
            <input id="request" name="request" type="text" class="form-control">
        </div>
    </div>
</div>
</div>
<div class="text-right px-3">
    <button class="btn-app-primary mr-2" (click)="goToRequestInfo()">{{ 'buttons.continue' | translate}}</button>
</div>