<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<div class="row mx-0 mt-2 blockA">
    <div class="col-md-6">
        <app-datos-interesado [user]="user" [readOnly]="true" [formInstanciaGeneral]="formInstanciaGeneral"></app-datos-interesado>
    </div>
    <div class="col-md-6">
        <app-datos-notificacion></app-datos-notificacion>
    </div>
</div>
<div class="card mb-2 m-3">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-info mr-2"></em>
            <label>{{ 'carpeta_ciudadana.instance.infoSol' | translate }}</label>
        </div>
    </div>
<div class="mx-0 mt-2">
    <div class="card-text row pt-3">
        <div class="form-group col-md-3">
            <app-input-text 
            [form]="formInstanciaGeneral"
            label=" {{'carpeta_ciudadana.instance.notification.resum' | translate}}"
            controlName="resum"
            idValue="resum"
            nameValue="resum"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
    ></app-input-text>
        </div>
    </div>
    <div class="card-text row pt-3">
        <div class="form-group col-md-6">
            <app-input-text 
            [form]="formInstanciaGeneral"
            label=" {{'carpeta_ciudadana.instance.notification.expone' | translate}}"
            controlName="expone"
            idValue="expone"
            nameValue="expone"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
    ></app-input-text>
        </div>
        <div class="form-group col-md-6">
            <app-input-text 
            [form]="formInstanciaGeneral"
            label=" {{'carpeta_ciudadana.instance.notification.request' | translate}}"
            controlName="request"
            idValue="request"
            nameValue="request"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
    ></app-input-text>
        </div>
    </div>
</div>
</div>
<div class="text-right px-3">
    <button class="btn-app-primary mr-2" (click)="goToDocumentation()">{{ 'buttons.continue' | translate}}</button>
</div>