<form [formGroup]="form">
    <label for="nameValue">{{ label }} <span *ngIf="isRequired" class="requiredField"><b>*</b></span> </label>
    <input 
        type="date" 
        class="form-control" 
        [id]="idValue"
        maxDate="maxDate" 
        max="{{dateToday | date:'yyyy-MM-dd'}}"
        [name]="nameValue" 
        (change)="onChangeValue()" 
        [(ngModel)]="value"
        [formControlName]="controlName" 
        [placeholder]="placeholder"
        [readonly]="isReadOnly"
        [ngClass]="{ 'error-input': error == true }">   
        <p class="error-p" *ngIf='error' [innerHTML]="textError"></p>    
    </form>