<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<app-button-back></app-button-back>
<form [formGroup]="formUserIdentification" (ngSubmit)="goToRequestInfo()">
<div class="row mx-0">
<div class="col-md-6">
    <app-identity-data [readOnly]="true" [user]="user"
        [formIdentityData]="formUserIdentification.controls.identity_data"></app-identity-data>
</div>
<div class="col-md-6">
    <app-productive-establishment-address [subject]="subject" isRequired="true"
        [formProductiveEstablishment]="formUserIdentification.controls.productive_establishment"
        [readOnly]="false"></app-productive-establishment-address>
</div>
</div>
<div class="text-right m-3">
    <button class="btn-app-primary mr-2" type="submit">{{ 'buttons.continue' | translate}}</button>
</div>
</form>