.search-input {
    height: 56px;
    border-radius: 28px !important;
    border-color: #efefef;
    box-shadow: 0 2px 7px 0 rgb(209 209 209 / 37%);
    background-color: #ffffff;
}

.btn-search {
    margin-left: -50px;
    z-index:4;
}