stages:
  - build

Docker Build:
  image: jaweewo/docker:custom
  services:
    - docker:dind
  stage: build
  tags:
    - shell
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN hub.alfatecsistemas.es
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - dev