.centrar-izquierda {
    text-align: justify;  /* For Edge */
  text-align-last: left;
}

.activado {
  color: blue !important
}

.nav-link {
  background: none!important;
  border: none;
  color: #069;
  text-align: left !important;
}