<app-header-category *ngIf="enviar" [title]="title"></app-header-category>

<div class="col-md-8 mx-auto">
    <p class="p-3 text-justify" id="text"></p>
    <div style="display:grid; justify-items: center;">
        <input [ngClass]="{ 'error-input': errorCsv }" type="text" id="placeholder_csv" class="mb-4 col-sm-5" (change)="captruarCsv($event.target.value)">
        <p class="error-p" *ngIf='errorCsv'>{{'electronic-services.document-verification.error_csv' | translate}}</p>
        <!-- <input type="text" id="placeholder_img" class="mt-3 col-sm-5"> -->
        <form [formGroup]="aFormGroup">
            <ngx-recaptcha2 #captchaElem siteKey="6LcvoUgUAAAAAJJbhcXvLn3KgG-pyULLusaU4mL1"
                (success)="handleSuccess($event)" [useGlobalDomain]="false" size="normal" hl="es" theme="light"
                type='image' formControlName="recaptcha">
            </ngx-recaptcha2>
        </form>
        <p class="error-p" *ngIf='errorCaptcha'>{{'electronic-services.document-verification.error_captcha' | translate}}</p>
        <button class="btn btn-primary mx-auto mt-3 button-round" target="_blank" id="button" (click)="showCsv()"></button>
    </div>
    <p class="text-justify font-weight-bold" id="where_title"></p>
    <p class="text-justify" id="where_text"></p>
    <img src="../../../../assets/img/ejemploCSV.png" />
</div>