<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-phone-alt"></em>
            {{ 'carpeta_ciudadana.identification.contact_data.title' | translate }}
        </div>
    </div>
    <div class="card-body row mx-0">
        <div class="mx-3 w-100 mb-2" *ngIf="!interesado">
            <input type="checkbox" name="check" id="check" [(ngModel)]="isChecked" (change)="changeInput(isChecked?'A':'B', 'representante')" />
            {{ 'carpeta_ciudadana.identification.contact_data.check' | translate }}
        </div>
        <div class="mx-3 w-100 mb-2" *ngIf="interesado">
            <input type="checkbox" name="check" id="check" [(ngModel)]="isChecked" (change)="changeInput(isChecked?'A':'B', 'interesado')"/>
            {{ 'carpeta_ciudadana.identification.contact_data.check_user' | translate }}
        </div>
        <div class="contents" *ngIf="!showInputs && !interesado">
            <!-- REPRESENTANTE -->
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.name' | translate }}8888888"
                    controlName="contact_name" idValue="contact_name" nameValue="contact_name" [isReadOnly]="readOnly"
                    [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.surname1' | translate }}"
                    controlName="contact_surname1" idValue="contact_surname1" nameValue="contact_surname1"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.surname2' | translate }}"
                    controlName="contact_surname2" idValue="contact_surname2" nameValue="contact_surname2"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.nif' | translate }}"
                    controlName="contact_nif" idValue="contact_nif" nameValue="contact_nif" [isReadOnly]="readOnly"
                    [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.position' | translate }}"
                    controlName="contact_position" idValue="contact_position" nameValue="contact_position"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.telephone' | translate }}"
                    controlName="contact_telephone" idValue="contact_telephone" nameValue="contact_telephone"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.email' | translate }}"
                    controlName="contact_email" idValue="contact_email" nameValue="contact_email"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="col-md-3"></div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.via_type' | translate }}"
                    controlName="contact_via_type" idValue="contact_via_type" nameValue="contact_via_type"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-6">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.address' | translate }}"
                    controlName="contact_address" idValue="contact_address" nameValue="contact_address"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3 px-0">
                <div class="col-md-6">
                    <app-input-text [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.address.number' | translate }}"
                        controlName="contact_number" idValue="contact_number" nameValue="contact_number"
                        [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
                </div>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.extra' | translate }}"
                    controlName="contact_extra" idValue="contact_extra" nameValue="contact_extra"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3 px-0">
                <div class="col-md-6">
                    <app-input-text [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.address.CP' | translate }}" controlName="contact_CP"
                        idValue="contact_CP" nameValue="contact_CP" [isReadOnly]="readOnly" [isRequired]="true">
                    </app-input-text>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.country' | translate }}"
                    controlName="contact_country" idValue="contact_country" nameValue="contact_country"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.province' | translate }}"
                    controlName="contact_province" idValue="contact_province" nameValue="contact_province"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.municipality' | translate }}"
                    controlName="contact_municipality" idValue="contact_municipality" nameValue="contact_municipality"
                    [isReadOnly]="readOnly" [isRequired]="true"></app-input-text>
            </div>
        </div>

        <div class="card-body row mx-0" *ngIf="interesado">
            <div *ngIf="!showInputs" class="contents">
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.name' | translate }}"
                        controlName="interested_data_name"
                        idValue="interested_data_name"
                        nameValue="interested_data_name"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.surname1' | translate }}"
                        controlName="interested_data_surname1"
                        idValue="interested_data_surname1"
                        nameValue="interested_data_surname1"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.surname2' | translate }}"
                        controlName="interested_data_surname2"
                        idValue="interested_data_surname2"
                        nameValue="interested_data_surname2"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.nif' | translate }}"
                        controlName="interested_data_nif"
                        idValue="interested_data_nif"
                        nameValue="interested_data_nif"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.cnae' | translate }}"
                        controlName="interested_data_cnae"
                        idValue="interested_data_cnae"
                        nameValue="interested_data_cnae"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.iae' | translate }}"
                        controlName="interested_data_iae"
                        idValue="interested_data_iae"
                        nameValue="interested_data_iae"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3  px-0 d-flex">
                <div class="form-group col-md-6">
                    <app-input-date 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.iae_date' | translate }}"
                        controlName="interested_data_iae_date"
                        idValue="interested_data_iae_date"
                        nameValue="interested_data_iae_date"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-date>
                </div>
              
                <div class="form-group col-md-6">
                    <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.employees_number' | translate }}"
                        controlName="interested_data_employees_number"
                        idValue="interested_data_employees_number"
                        nameValue="interested_data_employees_number"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
                </div>
            </div>
            <div class="form-group col-md-3">
                <app-input-select
                [form]="formContactData"
                label = "{{ 'carpeta_ciudadana.identification.represented_data.businessType' | translate }}"
                controlName = "businessType"
                idValue = "businessType"
                nameValue = "businessType"
                [isRequired] = "true"
                [fieldOptions]="businessType"
            >
        </app-input-select> 
            </div>
            <div class="form-group col-md-3">
                <app-input-select
                [form]="formContactData"
                label = "{{ 'carpeta_ciudadana.identification.represented_data.ownGroup' | translate }}"
                controlName = "ownGroup"
                idValue = "ownGroup"
                nameValue = "ownGroup"
                [isRequired] = "true"
                [fieldOptions]="siNo"
            >
        </app-input-select> 
            </div>
            <div class="form-group col-md-3">
                <app-input-number 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.active' | translate }}"
                        controlName="interested_data_active"
                        idValue="interested_data_active"
                        nameValue="interested_data_active"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                ></app-input-number>
            </div>
            <div class="form-group col-md-3">
                <app-input-number 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.turnover' | translate }}"
                        controlName="interested_data_turnover"
                        idValue="interested_data_turnover"
                        nameValue="interested_data_turnover"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                ></app-input-number>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.residence_country' | translate }}"
                        controlName="interested_data_residence_country"
                        idValue="interested_data_residence_country"
                        nameValue="interested_data_residence_country"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
            <div class="form-group col-md-3 px-0 d-flex">
                <div class="form-group col-md-6">
                    <app-input-date 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.birth_date' | translate }}"
                        controlName="interested_data_birth_date"
                        idValue="interested_data_birth_date"
                        nameValue="interested_data_birth_date"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-date>
                </div>
                <div class="form-group col-md-6">
                    <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.genre' | translate }}"
                        controlName="interested_data_genre"
                        idValue="interested_data_genre"
                        nameValue="interested_data_genre"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
                </div>
            </div>
            <div class="form-group col-md-3">
                <app-input-text 
                        [form]="formContactData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.telephone' | translate }}"
                        controlName="interested_telephone"
                        idValue="interested_telephone"
                        nameValue="interested_telephone"
                        [isReadOnly]="readOnly"
                        [isRequired]="true"
                    ></app-input-text>
            </div>
        </div>
    </div>
    </div>
</div>