<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-phone-alt"></em>
            {{ 'carpeta_ciudadana.identification.contact_data.title' | translate }}
        </div>
    </div>
    <div class="card-body row mx-0">
        <div class="mx-3 w-100 mb-2">
            <input type="checkbox" name="check" id="check" />
            {{ 'carpeta_ciudadana.identification.contact_data.check' | translate }}
        </div>
        <div class="mx-3 w-100 mb-2">
            <input type="checkbox" name="check" id="check" />
            {{ 'carpeta_ciudadana.identification.contact_data.check_user' | translate }}
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.name' | translate }}"
                    controlName="contact_name"
                    idValue="contact_name"
                    nameValue="contact_name"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.surname1' | translate }}"
                    controlName="contact_surname1"
                    idValue="contact_surname1"
                    nameValue="contact_surname1"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.surname2' | translate }}"
                    controlName="contact_surname2"
                    idValue="contact_surname2"
                    nameValue="contact_surname2"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.nif' | translate }}"
                    controlName="contact_nif"
                    idValue="contact_nif"
                    nameValue="contact_nif"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.position' | translate }}"
                    controlName="contact_position"
                    idValue="contact_position"
                    nameValue="contact_position"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.telephone' | translate }}"
                    controlName="contact_telephone"
                    idValue="contact_telephone"
                    nameValue="contact_telephone"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.legal_representative.email' | translate }}"
                    controlName="contact_email"
                    idValue="contact_email"
                    nameValue="contact_email"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="col-md-3"></div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.via_type' | translate }}"
                    controlName="contact_via_type"
                    idValue="contact_via_type"
                    nameValue="contact_via_type"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-6">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.address' | translate }}"
                    controlName="contact_address"
                    idValue="contact_address"
                    nameValue="contact_address"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3 px-0">
            <div class="col-md-6">
                <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.number' | translate }}"
                    controlName="contact_number"
                    idValue="contact_number"
                    nameValue="contact_number"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
            </div>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.extra' | translate }}"
                    controlName="contact_extra"
                    idValue="contact_extra"
                    nameValue="contact_extra"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3 px-0">
            <div class="col-md-6">
                <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.CP' | translate }}"
                    controlName="contact_CP"
                    idValue="contact_CP"
                    nameValue="contact_CP"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.country' | translate }}"
                    controlName="contact_country"
                    idValue="contact_country"
                    nameValue="contact_country"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.province' | translate }}"
                    controlName="contact_province"
                    idValue="contact_province"
                    nameValue="contact_province"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text 
                    [form]="formContactData"
                    label="{{ 'carpeta_ciudadana.identification.address.municipality' | translate }}"
                    controlName="contact_municipality"
                    idValue="contact_municipality"
                    nameValue="contact_municipality"
                    [isReadOnly]="readOnly"
                    [isRequired]="true"
            ></app-input-text>
        </div>
    </div>
</div>
