<div *ngIf="documentsTypeMicroBussines">
<app-input-document 
[form]="formAdjMicro"
    label="{{documentsTypeMicroBussines[0].description}}"
    idValue="documentNif" 
    [draft]="draftMicroEmpresa"
    controlName="documentNif"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && documentNif"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document 
  [form]="formAdjMicro"
  [draft]="draftMicroEmpresa"
    label="{{documentsTypeMicroBussines[1].description}}"
    idValue="documentHelp" 
    controlName="documentHelp"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && documentHelp"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document 
  [form]="formAdjMicro"
  [draft]="draftMicroEmpresa"
    label="{{documentsTypeMicroBussines[2].description}}"
    idValue="responsible_declaration" 
    controlName="responsible_declaration"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && responsible_declaration"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document 
  [form]="formAdjMicro"
  [draft]="draftMicroEmpresa"
    label="{{documentsTypeMicroBussines[3].description}}"
    idValue="distribution_by_year" 
    controlName="distribution_by_year"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && distribution_by_year"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document 
    label="{{documentsTypeMicroBussines[4].description}}"
    [draft]="draftMicroEmpresa"
    idValue="society_constitution_micro" 
    [form]="formAdjMicro"
    controlName="society_constitution_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && society_constitution_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

<app-input-document 
    label="{{documentsTypeMicroBussines[5].description}}"
    [draft]="draftMicroEmpresa"
    idValue="beneficial_ownership_micro" 
    [form]="formAdjMicro"
    controlName="beneficial_ownership_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && beneficial_ownership_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[6].description}}"
    [draft]="draftMicroEmpresa"
    idValue="legal_representative_micro" 
    [form]="formAdjMicro"
    controlName="legal_representative_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && legal_representative_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[7].description}}"
    [draft]="draftMicroEmpresa"
    idValue="annual_accounts_micro" 
    [form]="formAdjMicro"
    controlName="annual_accounts_micro"
    [isRequired]="true" errorText="document_error"
    [error]="validate && annual_accounts_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[8].description}}"
    [draft]="draftMicroEmpresa"
    idValue="_commercial_code_micro" 
    [form]="formAdjMicro"
    controlName="_commercial_code_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && _commercial_code_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[9].description}}"
    [draft]="draftMicroEmpresa"
    idValue="tax_returns_micro" 
    [form]="formAdjMicro"
    controlName="tax_returns_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && tax_returns_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[10].description}}"
    [draft]="draftMicroEmpresa"
    idValue="model_347_micro" 
    [form]="formAdjMicro"
    controlName="model_347_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && model_347_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[11].description}}"
    [draft]="draftMicroEmpresa"
    idValue="model_390_micro"
    [form]="formAdjMicro"
    controlName="model_390_micro" 
    [isRequired]="true" errorText="document_error"
    [error]="validate && model_390_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[12].description}}" 
    [draft]="draftMicroEmpresa"
    idValue="registered_office_micro"
    [form]="formAdjMicro"
    controlName="registered_office_micro" 
    [isRequired]="true" errorText="document_error"
    [error]="validate && registered_office_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[13].description}}"
    [draft]="draftMicroEmpresa"
    idValue="business_group_micro" 
    [form]="formAdjMicro"
    controlName="business_group_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && business_group_micro"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[14].description}}" 
    [draft]="draftMicroEmpresa"
    idValue="PYME_micro"
    [form]="formAdjMicro"
    controlName="PYME_micro"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && PYME_micro" fileExtension=",.doc,.docx,.msword,.pdf,.xlsx"
    (uploadFileDocument)="saveDocument($event)" (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
    label="{{documentsTypeMicroBussines[15].description}}"
    [draft]="draftMicroEmpresa"
    idValue="model_303" 
    [form]="formAdjMicro"
    controlName="model_303"
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && model_303"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>
</div>