<div *ngIf="mandatoryDocs">
  <app-input-document *ngFor="let doc of mandatoryDocs"
    label="{{doc.description}}" 
    [form]="formAdjuntarDocAuto"
    [controlName]="doc.concept_code"
    [idValue]="doc.concept_code" 
    [draft]="draft"
    [isRequired]="true"
    idplantilla="{{doc.descriptionPlantilla}}"
    errorText="document_error"
    [error]="validate && formAdjuntarDocAuto.controls[doc.concept_code].invalid"
    fileExtension=".pdf" (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>
</div>
<div *ngIf="optionalDocs">
  <app-input-document *ngFor="let doc of optionalDocs"
    label="{{doc.description}}" 
    [form]="formAdjuntarDocAuto"
    [controlName]="doc.concept_code"
    [idValue]="doc.concept_code" 
    [draft]="draft"
    [isRequired]="false"
    idplantilla="{{doc.descriptionPlantilla}}"
    errorText="document_error"
    fileExtension=".pdf," (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>
</div>
