<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-user mr-2"></em>
            <label>{{ 'carpeta_ciudadana.instance.notification.title' | translate }}</label>
        </div>
    </div>
    <div class="card-text row pt-3">
        <div class="form-group col-md-3">
            <app-input-select 
            [placeholder]="Selecciona"
            [form] = "formDatosNotificacion"
            label = "{{ 'carpeta_ciudadana.instance.notification.type' | translate }}"
            controlName = "notification_means"
            idValue = "notification_means"
            nameValue = "notification_means"
            [isReadOnly] = "readOnly"
            isRequired = "true"
            [fieldOptions] = "typeStreet"
            [error]="errorTextRes"
            [errorText]="errors[0]"
        >
    </app-input-select>
        </div>
        <div class="form-group col-md-9">
            <app-input-text (change)="catchResultInput($event.target.value, 'direction')"
            [form]="formDatosNotificacion"
            label=" {{ 'carpeta_ciudadana.instance.notification.direction' | translate }} "
            controlName="direction"
            idValue="direction"
            nameValue="direction"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
            [error]="errors[0]"
            [errorText]="errorTextRes"
    ></app-input-text>
        </div>
    </div>
    <div class="card-text row">
        <div class="form-group col-md-2">
            <app-input-text (change)="catchResultInput($event.target.value, 'number')"
            [form]="formDatosNotificacion"
            label=" {{ 'carpeta_ciudadana.instance.notification.number' | translate }} "
            controlName="number"
            idValue="number"
            nameValue="number"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
            [error]="errors[1]"
            [errorText]="errorTextRes"
    ></app-input-text>
        </div>
        <div class="form-group col-md-7">
            <app-input-text (change)="catchResultInput($event.target.value, 'extra')"
            [form]="formDatosNotificacion"
            label=" {{ 'carpeta_ciudadana.instance.notification.extra' | translate }} "
            controlName="extra"
            idValue="extra"
            nameValue="extra"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
            [error]="errors[2]"
            [errorText]="errorTextRes"
    ></app-input-text>
        </div>
        <div class="form-group col-md-3">
            <app-input-text (change)="catchResultInput($event.target.value, 'CP')"
            [form]="formDatosNotificacion"
            label=" {{ 'carpeta_ciudadana.instance.notification.CP' | translate }} "
            controlName="CP"
            idValue="CP"
            nameValue="CP"
            [isReadOnly]="readOnly"
            [isRequired]="true"
            value=""
            [error]="errors[3]"
            [errorText]="errorTextRes"
    ></app-input-text>
        </div>
    </div>
    <div class="card-text row">
        <div class="form-group col-md-4">
            <label for="country">
                {{ 'carpeta_ciudadana.instance.notification.country' | translate }} <b>*</b>
            </label>
            <select id="country" name="type" class="form-control">
                <option value="">{{ 'carpeta_ciudadana.seleccionaSelect' | translate }}</option>
            </select>        
        </div>
        <div class="form-group col-md-4">
            <app-input-select 
            [form] = "formDatosNotificacion"
            label = " {{ 'carpeta_ciudadana.instance.notification.province' | translate }}"
            controlName = "province"
            idValue = "province"
            nameValue = "province"
            [isReadOnly] = "readOnly"
            isRequired = "true"
            [fieldOptions] = "provincias"
            [error]="errorTextRes"
            [errorText]="errors[0]"
        >
    </app-input-select>        
        </div>
        <div class="form-group col-md-4"> 
            <app-input-select 
            [form] = "formDatosNotificacion"
            label = "{{ 'carpeta_ciudadana.instance.notification.municipality' | translate }}"
            controlName = "municipality"
            idValue = "municipality"
            nameValue = "municipality"
            [isReadOnly] = "readOnly"
            isRequired = "true"
            [fieldOptions] = "municipios"
            [error]="errorTextRes"
            [errorText]="errors[0]"
        >
    </app-input-select>       
        </div>
    </div>
</div>