<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-user mr-2"></em>
            <label>{{ 'carpeta_ciudadana.instance.notification.title' | translate }}</label>
        </div>
    </div>
    <div class="card-text row pt-3">
        <div class="form-group col-md-3">
            <label for="type">
                {{ 'carpeta_ciudadana.instance.notification.type' | translate }} <b>*</b>
            </label>
            <select id="type" name="type" class="form-control">
                <option value="1">{{ 'carpeta_ciudadana.instance.notification.street' | translate }}</option>
                <option value="2">{{ 'carpeta_ciudadana.instance.notification.avenue' | translate }}</option>
                <option value="3">{{ 'carpeta_ciudadana.instance.notification.square' | translate }}</option>
                <option value="4">{{ 'carpeta_ciudadana.instance.notification.promenade' | translate }}</option>
                <option value="5">{{ 'carpeta_ciudadana.instance.notification.lane' | translate }}</option>
                <option value="6">{{ 'carpeta_ciudadana.instance.notification.boulevard' | translate }}</option>
                <option value="7">{{ 'carpeta_ciudadana.instance.notification.passage' | translate }}</option>
            </select>
        </div>
        <div class="form-group col-md-9">
            <label for="direction">
                {{ 'carpeta_ciudadana.instance.notification.direction' | translate }} <b>*</b>
            </label>
            <input id="direction" name="direction" type="text" class="form-control">
        </div>
    </div>
    <div class="card-text row">
        <div class="form-group col-md-2">
            <label for="number">
                {{ 'carpeta_ciudadana.instance.notification.number' | translate }} <b>*</b>
            </label>
            <input id="nomber" name="number" type="text" class="form-control">
        </div>
        <div class="form-group col-md-7">
            <label for="extra">
                {{ 'carpeta_ciudadana.instance.notification.extra' | translate }} <b>*</b>
            </label>
            <input id="extra" name="extra" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="CP">
                {{ 'carpeta_ciudadana.instance.notification.CP' | translate }} <b>*</b>
            </label>
            <input id="CP" name="CP" type="text" class="form-control">
        </div>
    </div>
    <div class="card-text row">
        <div class="form-group col-md-4">
            <label for="country">
                {{ 'carpeta_ciudadana.instance.notification.country' | translate }} <b>*</b>
            </label>
            <select id="country" name="type" class="form-control">
                <option value="">{{ 'carpeta_ciudadana.seleccionaSelect' | translate }}</option>
            </select>        
        </div>
        <div class="form-group col-md-4">
            <label for="province">
                {{ 'carpeta_ciudadana.instance.notification.province' | translate }} <b>*</b>
            </label>
            <select id="province" name="type" class="form-control">
                <option value="">{{ 'carpeta_ciudadana.seleccionaSelect' | translate }}</option>
            </select>        
        </div>
        <div class="form-group col-md-4">
            <label for="municipality">
                {{ 'carpeta_ciudadana.instance.notification.municipality' | translate }} <b>*</b>
            </label>
            <select id="municipality" name="type" class="form-control">
                <option value="">{{ 'carpeta_ciudadana.seleccionaSelect' | translate }}</option>
            </select>        
        </div>
    </div>
</div>