@import "../../../utils/styles/colors.scss";

.help-container {
    background-image: url(../../../../assets/img/img-que-puedes-hacer.png);
    background-repeat: no-repeat;
	background-size: cover;
	display:block;
	height: 222px;
	padding: 0;

	.color-container {
		background-color: rgba(74,74,74,0.8);
		width: 100%;
		height: 100%;
	}

    li {
        list-style: none;
			width: 25%;
			text-align: center;
			border-left: 1px solid $white;
			padding: 0 .5%;
			a {
				&:hover {
					text-decoration: none;
				}
			}
        &:first-child {
            border-left: none;
        }
    }
}