<div class="col-md-12 help-container">
    <div class="color-container col-md-12">
		<div class="col-md-10 mx-auto pt-5">
            <h3 class="text-center text-white">AYUDA</h3>
            <ul class="row auto-margin list-inline mt-4" >
                <li class="col-md-3 col-xs-12 px-3"> <a href="#" class="text-white">Conoce la Sede Electrónica </a></li>
                <li class="col-md-3 col-xs-12 px-3"> <a href="#" class="text-white">Cómo obtener el certificado electrónico </a></li>
                <li class="col-md-3 col-xs-12 px-3"> <a href="#" class="text-white"> Requisitos técnicos </a></li>
                <li class="col-md-3 col-xs-12 px-3"> <a href="#" class="text-white">Buscador de trámites</a> </li>
            </ul>
		</div>
    </div>
</div>
