<div class="row justify-content-center">
    <div *ngFor="let category of categories" class="col-md-3 text-center m-3">
        <div class="card h-100">
            <div class="card-body">
                <a routerLink="/categories/{{category.id}}" title="Ver todos los procedimientos de este área"
                    class="text-dark text-uppercase category-link">
                    <div class="card-text">
                        <img alt="Icono {{ category.name }}" [src]="category.logo" class="tramite-img-size" />
                        <div class="link-container font-weight-bold">
                            <span> {{category.name}} </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>