<div *ngIf="documentsTypeBigBussines">
<app-input-document
label="{{documentsTypeBigBussines[0].description}}"
idValue="documentNif" 
[form]="formAdjGranEm"
[draft]="draftGranEmpresa"
controlName="documentNif"
[isRequired]="true" 
errorText="document_error"
[error]="validate && documentNif"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{documentsTypeBigBussines[1].description}}"
idValue="documentHelp" 
[form]="formAdjGranEm"
[draft]="draftGranEmpresa"
controlName="documentHelp"
[isRequired]="true" 
errorText="document_error"
[error]="validate && documentHelp"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{documentsTypeBigBussines[2].description}}"
idValue="responsible_declaration" 
[draft]="draftGranEmpresa"
[form]="formAdjGranEm"
controlName="responsible_declaration"
[isRequired]="true" 
errorText="document_error"
[error]="validate && responsible_declaration"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{documentsTypeBigBussines[3].description}}"
[draft]="draftGranEmpresa"
idValue="distribution_by_year" 
[form]="formAdjGranEm"
controlName="distribution_by_year"
[isRequired]="true" 
errorText="document_error"
[error]="validate && distribution_by_year"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{documentsTypeBigBussines[4].description}}"
[draft]="draftGranEmpresa"
idValue="model_303" 
[form]="formAdjGranEm"
controlName="model_303"
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_303"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document 
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[5].description}}"
idValue="society_constitution_big" 
[form]="formAdjGranEm"
controlName="society_constitution_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && society_constitution_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[6].description}}"
idValue="beneficial_ownership_big"
[form]="formAdjGranEm"
controlName="beneficial_ownership_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && beneficial_ownership_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[7].description}}"
idValue="legal_representative_big" 
[form]="formAdjGranEm"
controlName="legal_representative_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && legal_representative_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[8].description}}"
idValue="annual_accounts_big" 
[form]="formAdjGranEm"
controlName="annual_accounts_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && annual_accounts_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document 
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[9].description}}"
idValue="_commercial_code_big" 
[form]="formAdjGranEm"
controlName="_commercial_code_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && _commercial_code_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[10].description}}"
idValue="tax_returns_big" 
[form]="formAdjGranEm"
controlName="tax_returns_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && tax_returns_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>


<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[11].description}}"
idValue="model_347" 
[form]="formAdjGranEm"
controlName="model_347"
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_347"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[12].description}}"
idValue="model_390" 
[form]="formAdjGranEm"
controlName="model_390"
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_390"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[13].description}}"
idValue="registered_office_big" 
[form]="formAdjGranEm"
controlName="registered_office_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && registered_office_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
[draft]="draftGranEmpresa"
label="{{documentsTypeBigBussines[14].description}}"
idValue="business_group_big" 
[form]="formAdjGranEm"
controlName="business_group_big"
[isRequired]="true" 
errorText="document_error"
[error]="validate && business_group_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

    <app-input-document
        [draft]="draftGranEmpresa"
        label="{{documentsTypeBigBussines[14].description}}"
        idValue="PYME_big" 
        [form]="formAdjGranEm"
        controlName="PYME_big"
        [isRequired]="true" 
        errorText="document_error"
        [error]="validate && PYME_big"
        fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
        (uploadFileDocument)="saveDocument($event)"
        (deleteFileDocument)="deleteDocument($event)">
    </app-input-document>
</div>