<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.society_constitution_big' | translate }}"
idValue="society_constitution_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && society_constitution_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document 
label="{{ 'carpeta_ciudadana.documentation.big_business.beneficial_ownership_big' | translate }}"
idValue="beneficial_ownership_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && beneficial_ownership_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.legal_representative_big' | translate }}"
idValue="legal_representative_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && legal_representative_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.annual_accounts_big' | translate }}"
idValue="annual_accounts_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && annual_accounts_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business._commercial_code_big' | translate }}"
idValue="_commercial_code_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && _commercial_code_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document 
label="{{ 'carpeta_ciudadana.documentation.big_business.tax_returns_big' | translate }}"
idValue="tax_returns_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && tax_returns_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.risk_inform_big' | translate }}"
idValue="risk_inform_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && risk_inform_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>


<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.registered_office_big' | translate }}"
idValue="registered_office_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && registered_office_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.business_group_big' | translate }}"
idValue="business_group_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && business_group_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.PYME_big' | translate }}"
idValue="PYME_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && PYME_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.big_business.tecnic_memory_big' | translate }}"
idValue="tecnic_memory_big" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && tecnic_memory_big"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>