/*aqui cambie a #29993a y era #c8102e
.err-checkbox {
    color : red;
}

.icon-float{
    float: right;
}

i {
    color: rgb(221, 26, 26);
    cursor: pointer;
}*/
.err-checkbox {
    color : #29993a;
}

.icon-float{
    float: right;
}

i {
    color: #29993a;
    cursor: pointer;
}