<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.society_constitution_civil' | translate }}"
idValue="society_constitution_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.declarations_rent_civil' | translate }}"
idValue="declarations_rent_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.model_390_civil' | translate }}"
idValue="model_390_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.model_184_entities_civil' | translate }}"
idValue="model_184_entities_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.voucher_pay_civil' | translate }}"
idValue="voucher_pay_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.model_130_131_civil' | translate }}"
idValue="model_130_131_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.civil_society.model_347_civil' | translate }}"
idValue="model_347_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document 
label="{{ 'carpeta_ciudadana.documentation.civil_society.registered_office_civil' | translate }}"
idValue="registered_office_civil" 
[isRequired]="true" 
errorText="document_error"
[error]=""
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>