<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 border-right-solid-gray ">
      <a href="#" class="navbar-brand">
        <img *ngIf="src_logo" alt="Puerto de Cartagena" width="100%" src="data:image/png;base64,{{src_logo}}"
          class="mr-3 header-logo" />
      </a>
    </div>
    <div class="col-sm-6 col-lg-3 mt-4">
      <h4 class="color-medium-gray font-weight-light"> {{ 'TITLE' | translate }} </h4>
    </div>
    <div class="col-sm-6 col-lg-2 mt-4 d-flex centrarDivHorizontal">
      <span class="font-size-13 col-md-8 border-right-solid-gray h-50">
        <em class="far fa-calendar text-primary mr-1"></em> {{ currentDateHeader }}
      </span>
      <span class="font-size-13 col-lg-6 border-right-solid-gray h-50">
        <em class="far fa-clock text-primary mr-1"></em> <span id="horas"></span>
      </span>
    </div>
    <div class="col-sm-6 col-lg-3 border-right-solid-gray centrarDivHorizontal">
      <app-weather></app-weather>
    </div>
    <div class="col-sm-2 col-md-2 centrarDivHorizontal centrarDivVertical">
      <app-language-selector></app-language-selector>
    </div>
    <div class="position-absolute header-search">
      <app-header-search></app-header-search>
    </div>
  </div>
</div>
<div class="navbar-nav w-100 header-nav">
  <ul class="navbar-nav navbar-expand-lg nav-fill">
    <li class="nav-item">
      <a [routerLink]="['/inicio']" routerLinkActive="link-color-primary border-bottom-primary"
        class="d-flex justify-content-center h-100 nav-link">
        <span class="mt-2 text-dark">
          {{ 'home.TITLE' | translate }}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/carpeta-del-ciudadano']" routerLinkActive="link-color-primary border-bottom-primary"
        class="d-flex justify-content-center h-100 nav-link">
        <span class="mt-2 text-dark">
          {{'home.carpeta' | translate}}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/tablon-de-anuncios']" routerLinkActive="link-color-primary border-bottom-primary"
        class="d-flex justify-content-center h-100 nav-link">
        <span class="mt-2 text-dark">
          {{'home.advertisements' | translate}}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/perfil-de-contratante']" routerLinkActive="link-color-primary border-bottom-primary"
        class="d-flex justify-content-center h-100 nav-link">
        <span class="mt-2 text-dark">
          {{'home.contractor_profile' | translate}}
        </span>
      </a>
    </li>
    <li ng-controller="DropdownCtrl" class="nav-item py-2 css-dropdown">
      <a class="nav-link text-dark">{{'home.electronic_services' | translate}}
        <div class="css-dropdown-menu mt-3">
          <a href="/validacion" class="nav-link text-dark">{{'home.valide' | translate}}</a>
          <a href="/factura-electronica" class="nav-link text-dark">{{'home.electronic_invoice' | translate}}</a>
          <a href="/verifirma" class="nav-link text-dark">{{'home.document_verification' | translate}}</a>
          <a href="/notificaciones" class="nav-link text-dark">{{'home.notifications' | translate}}</a>
        </div>
      </a>
    </li>
  </ul>
</div>