@import '../../../utils/styles/colors.scss';

.container-procediments-home {
    margin:16px;
    padding: 2em;
	border-radius: 2px;
  	box-shadow: 0 2px 9px 0 $pinkish-grey-47;
}

.list-group-item {
    border-top: none !important;
    border-bottom: none !important;
    border: 3px solid $pinkish-grey-37;

}

.col-md-3:nth-child(3n+1){
    border-left: none !important;
}

.col-md-3:nth-child(4n){
    border-right: none !important;
}

