<div class="background-img jumbotron rounded-0">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-white text-uppercase font-weight-bold" id="header-title">
                {{ 'carpeta_ciudadana.title' | translate }}
            </h4>
        </div>
        <div class="col-md-6 d-flex justify-content-end text-white">
            <div class="mr-1"><em class="fas fa-user"></em></div>
            <div *ngIf="user">
                <strong>{{ user.nombre }} {{ user.apellido1 }} {{ user.apellido2 }}</strong></div>
        </div>
    </div>
      
    <ol class="breadcrumb breadcrumb-header-carpeta" *ngIf="breadcrumbs">
        <div *ngFor="let breadcrumb of breadcrumbs" >
            <li *ngIf="!breadcrumb.terminal" class="breadcrumb-item">
                <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.title }}</a> >
            </li>
            <li *ngIf="breadcrumb.terminal" class="breadcrumb-item active" aria-current="page"> {{ breadcrumb.title }}</li>
        </div>
    </ol>
    <div class="row justify-content-end">
        <a class="text-white mr-4" [routerLink]="['/carpeta-del-ciudadano/requests-list']" ><em class="fas fa-id-card-alt"></em> Mis Solicitudes </a>
        <a class="text-white" [routerLink]="['/#']"><em class="fas fa-envelope"></em> Mis Notificaciones y Comunicaciones </a>
    </div>
</div>