<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-info-circle"></em>
            {{ 'carpeta_ciudadana.identification.actuation_data.title' | translate }}
        </div>
    </div>
    <div class="card-body row">
        <div class="form-group col-md-3">
            <app-input-select (change)="onChangeType($event.target.value)"
            [form]="formRequestData"
            [draft]="draftRequestData"
            label=" {{ 'carpeta_ciudadana.identification.requester_data.type' | translate }} "
            controlName="typeSelectRequest"
            idValue="type"
            nameValue="type"
            [fieldOptions] = "actuation"
            [isRequired]="true"
            placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }} "
            [error]="validate && formRequestData.controls['typeSelectRequest']?.invalid"
            [errorText]="errorCharacterLeng"
    ></app-input-select>
        </div>
        <div class="form-group col-md-6" [ngClass]="{ 'd-none': type != 'ivf-applicant-types-representantive'}">
            <app-input-text
            [form]="formRequestData"
            label=" {{ 'carpeta_ciudadana.identification.requester_data.representation_power' | translate }} "
            controlName="representation_power"
            idValue="representation_power"
            nameValue="representation_power"
            value="Representante legal"
            [isRequired]="type == 'ivf-applicant-types-representantive'"
            isReadOnly="true"
            [error]="validate && formRequestData.controls['ivf-applicant-types-representantive']?.invalid"
            [errorText]="errorCharacterLeng"
    ></app-input-text>
        </div>
        <div class="col-md-2 mt-4" *ngIf="type == 'ivf-applicant-types-representantive'">
            <input type="button" class="btn-app-outline-primary button-round text" (click)="comprobar()" value="{{ 'carpeta_ciudadana.identification.actuation_data.check' | translate }}"> 
        </div>
    </div>
</div>