<div class="card mb-2" >
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-user"></em>
            <span> {{ 'carpeta_ciudadana.identification.identity_data.title' | translate }}</span>
        </div>
    </div>
    <div class="card-body row">
        <div class="form-group col-md-8 col-sm-12">
            <label for="name_and_surname">
                {{ 'carpeta_ciudadana.identification.identity_data.name_and_surname' | translate }} <b>*</b>
            </label>
            <input id="name_and_surname" name="name_and_surname" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4 col-sm-12">
            <label for="nif">
                {{ 'carpeta_ciudadana.identification.identity_data.nif' | translate }} <b>*</b>
            </label>
            <input id="nif" name="nif" type="text" class="form-control">
        </div>
    </div>
</div>