<app-header-category *ngIf="title" [title]="title"></app-header-category>
<div class="row justify-content-center">
    <div class="col-md-10">
        <a [routerLink]="['/tablon-de-anuncios']">{{'advertisements_detail.back' | translate}}</a>
    </div>

    <div *ngIf="datosAnuncio && anuncio" class="col-md-10 card bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title" [innerHTML]="datosAnuncio.name"></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{anuncio.author}}</h6>
            <div class="card-text">
                <span [innerHTML]="datosAnuncio.description"></span>
            </div>
            <div *ngIf="anuncio.validDate;else created">
                <span> 
                    <strong> 
                        <u>{{'advertisements_detail.validity' | translate}}</u>:
                    </strong>
                    {{'advertisements_detail.since' | translate}}
                    {{anuncio.releaseDate | date: "dd-MM-yyyy"}} {{'advertisements_detail.until' | translate}}
                    {{anuncio.validDate | date: "dd-MM-yyyy"}}
                </span>
            </div>
            <ng-template #created>
                <span>{{'advertisements_detail.created' | translate}} {{anuncio.releaseDate | date: "dd-MM-yyyy"}}
                </span>
            </ng-template>
            <div class="mt-4">
                <a *ngIf="documento;else loggedOut" class="card-link" (click)="verDocumentacion(anuncio.attachedDocument)">{{'advertisements_detail.show' | translate}}</a>
                <ng-template #loggedOut>
                    <p>{{'advertisements_detail.no_document' | translate}}</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>