<i class="far fa-times-circle config-icon fa-2x" (click)="onCancel()"></i>
<table class="table table-bordered">
    <tr>
        <th scope="row"></th>
        <th class="config-background">MICROEMPRESA</th>
        <th class="config-background">PYME</th>
        <th class="config-background">GRAN EMPRESA</th>
    </tr>
    <tr>
        <td></td>
        <td>CUMPLE 2 DE LOS 3 SIGUIENTES</td>
        <td>CUMPLE 2 DE LOS 3 SIGUIENTES</td>
        <td>CUMPLE ACTIVO Y VENTAS; O CUMPLE SOLO EMPLEADOS (durante dos ejercicios consecutivos)</td>
    </tr>
    <tr>
        <th class="config-background">Total activo del balance del ultimo balance aprobado por la Junta General de la sociedad</th>
        <td>Inferior o igual a 2.000.000 euros</td>
        <td>Superior a 2.000.000 euros</td>
        <td>Superior a 43.000.000 euros</td>
    </tr>
    <tr>
        <th class="config-background">Total ventas de las últimas cuentas de pérdidas y ganancias aprobadas por la Junta General de la sociedad
        </th>
        <td>Inferior o igual a 2.000.000 euros</td>
        <td>Superior a 2.000.000 euros</td>
        <td>Superior a 50.000.000 euros</td>
    </tr>
    <tr>
        <th class="config-background">Número de trabajadores en la última relación nominal de trabajadores</th>
        <td>Inferior a 10 trabajadores</td>
        <td>Igual o superior a 10 trabajadores</td>
        <td>Más de 250 trabajadores</td>
    </tr>
</table>
<p>Los datos a tener en cuenta son los individuales o los consolidados si la empresa forma parte de un grupo
    empresarial.</p>