<app-header-carpeta-ciudadana *ngIf="procedure"
    [procedure]="procedure"></app-header-carpeta-ciudadana>
<app-spinner *ngIf="!procedure"></app-spinner>
<app-button-back></app-button-back>
<app-breadcrum *ngIf="procedure" 
[procedure]="procedure" [view]="viewMyRequest"></app-breadcrum>
<div *ngIf="procedure">
    <form [formGroup]="formLineaResistir" (ngSubmit)="goToDocumentation()">
        <app-procedure-information [draft]="draft" [readOnly]="readOnlyView"
            [formLineaResistir]="formLineaResistir" [validate]="validate"></app-procedure-information>
        <app-detail-cost-financed [draft]="draft" [readOnly]="readOnlyView"
            [formLineaResistir]="formLineaResistir" [validate]="validate"></app-detail-cost-financed>
    </form>
    <div class="foot-buttons">
        <div class="text-right px-3">
            <button class="btn-app-primary mr-2" (click)="goToDocumentation()">{{ 'buttons.continue' | translate}}</button>
        </div>
    </div>
</div>