<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<app-button-back></app-button-back>
<form [formGroup]="formLineaResistir" (ngSubmit)="goToDocumentation()">
    <div class="mx-3 card">
        <div class="card-header background-card-header">
            <div class="card-title text-white">
                <em class="fas fa-info-circle"></em>
                {{ 'carpeta_ciudadana.request_info.procedure_info.title' | translate }}
            </div>
        </div>
        <div class="card-body row">
            <div class="form-group col-md-3">
                <app-input-number [form]="formLineaResistir"
                    label="{{ 'carpeta_ciudadana.request_info.procedure_info.import' | translate }}"
                    controlName="import" idValue="import" nameValue="import" isRequired=true value=""
                    errorText="empty_error"></app-input-number>
            </div>
            <div class="col-md-2 form-group">
                <app-input-number [form]="formLineaResistir"
                    label="{{ 'carpeta_ciudadana.request_info.procedure_info.term' | translate }}" controlName="term"
                    idValue="term" nameValue="term" isRequired=true value="" errorText="empty_error"></app-input-number>
            </div>

            <div class="col-md-2 form-group">
                <app-input-number [form]="formLineaResistir"
                    label="{{ 'carpeta_ciudadana.request_info.procedure_info.lack' | translate }}" controlName="lack"
                    idValue="lack" nameValue="lack" isRequired=true value="" errorText="empty_error"></app-input-number>
            </div>
            <div class="form-group col-md-3">
                <app-input-select [form]="formLineaResistir"
                    placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }}"
                    label="{{ 'carpeta_ciudadana.request_info.procedure_info.modality' | translate }}"
                    controlName="modality" idValue="modality" nameValue="modality" isReadOnly="false" isRequired="true"
                    [fieldOptions]="tipoProyecto" errorText="empty_error"></app-input-select>
            </div>
        </div>
    </div>
    <div class="mx-3 my-3 card">
        <div class="card-header background-card-header">
            <div class="card-title text-white">
                <em class="fas fa-info-circle"> </em>
                {{ 'carpeta_ciudadana.request_info.financing.title' | translate }}
            </div>
        </div>
        <div class="card-body">
            <div>
                <div class="form-group">
                    <app-input-text-area [form]="formLineaResistir"
                        label="{{ 'carpeta_ciudadana.request_info.procedure_info.project_definition' | translate }}"
                        controlName="project_definition" idValue="project_definition" nameValue="project_definition"
                        [isRequired]="true" placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                        value=""></app-input-text-area>
                </div>
                <div class="form-group">
                    <app-input-select [form]="formLineaResistir" (change)="capturarCampo($event, 'company_type')"
                        placeholder="{{ 'carpeta_ciudadana.instance.notification.selectStreet' | translate }}"
                        label="{{ 'carpeta_ciudadana.request_info.procedure_info.company_type' | translate }}"
                        class="col-sm-3" controlName="company_type" idValue="company_type" nameValue="company_type"
                        isReadOnly="false" isRequired="true" [fieldOptions]="tipoProyecto" errorText="empty_error">
                    </app-input-select>
                </div>
            </div>
            <!-- Inversion G1 -->
            <div *ngIf="showInversion">
                <span class="ml-3">
                    <strong>{{ 'carpeta_ciudadana.request_info.financing.investment.title' | translate }}</strong>
                </span>
                <div class="row justify-content-start mx-0">
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.investment.ground' | translate }}"
                            controlName="modality" idValue="modality" nameValue="modality" [isRequired]="showInversion" value=""
                            errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.investment.properties' | translate }}"
                            controlName="properties" idValue="properties" nameValue="properties" [isRequired]="showInversion"
                            value="" errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.investment.machinery' | translate }}"
                            controlName="machinery" idValue="machinery" nameValue="machinery" [isRequired]="showInversion" value=""
                            errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.investment.installation' | translate }}"
                            controlName="installation" idValue="installation" nameValue="installation" [isRequired]="showInversion"
                            value="" errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.investment.others' | translate }}"
                            controlName="others" idValue="others" nameValue="others" [isRequired]="showInversion" value=""
                            errorText="empty_error"></app-input-number>
                    </div>
                </div>
                <hr>
                <span class="ml-3">
                    <strong>{{ 'carpeta_ciudadana.request_info.financing.financing_fixed.title' | translate }}</strong>
                </span>
                <div class="row justify-content-start mx-0">
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.financing_fixed.own_resources' | translate }}"
                            controlName="own_resources" idValue="own_resources" nameValue="own_resources"
                            [isRequired]="showInversion" value="" errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.financing_fixed.grants' | translate }}"
                            controlName="grants" idValue="grants" nameValue="grants" [isRequired]="showInversion" value=""
                            errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.financing_fixed.other_bank_financing' | translate }}"
                            controlName="other_bank_financing" idValue="other_bank_financing"
                            nameValue="other_bank_financing" [isRequired]="showInversion" value="" errorText="empty_error">
                        </app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.financing_fixed.active_ivf' | translate }}"
                            controlName="active_ivf" idValue="active_ivf" nameValue="active_ivf" [isRequired]="showInversion"
                            value="" errorText="empty_error"></app-input-number>
                    </div>
                </div>
            </div>
            <hr>
            <!-- circulante G2-->
            <div *ngIf="showCirculante">
                <div class="row">
                    <span class="ml-3">
                        <strong>{{ 'carpeta_ciudadana.request_info.financing.financing_assets.title' | translate
                            }}</strong>
                    </span>
                    <span class="m-3">
                        {{ 'carpeta_ciudadana.linea_resistir_instance.text_1' | translate }}
                    </span>
                </div>
                <div class="row justify-content-start mx-0">
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.financing_assets.current_assets' | translate }}"
                            controlName="current_assets" idValue="current_assets" nameValue="current_assets" [isRequired]="showCirculante"
                            value="" errorText="empty_error"></app-input-number>
                    </div>
                    <div class="form-group col-md-3">
                        <app-input-number [form]="formLineaResistir"
                            label="{{ 'carpeta_ciudadana.request_info.financing.financing_assets.bankalbe_current_assets' | translate }}"
                            controlName="bankalbe_current_assets" idValue="bankalbe_current_assets" nameValue="bankalbe_current_assets" [isRequired]="showCirculante"
                            value="" errorText="empty_error"></app-input-number>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="text-right px-3">
    <button class="btn-app-primary mr-2" (click)="goToDocumentation()">{{ 'buttons.continue' | translate}}</button>
</div>