<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-id-card"></em>
            <span> {{ 'carpeta_ciudadana.identification.interested_data.title' | translate }}</span>
        </div>
    </div>
    <div class="card-body row mx-0">
        <div class="d-contents col-sm-12">
            <div class="form-group col-md-3">
                <app-input-text [form]="formInterestedData"
                    placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.name' | translate }}"
                    controlName="interested_data_name" idValue="interested_data_name" nameValue="interested_data_name"
                    [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_name']?.pristine"
                    [errorText]="errorCharacterLeng" value=""></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.surname1' | translate }}"
                    controlName="interested_data_surname1" idValue="interested_data_surname1"
                    nameValue="interested_data_surname1" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_surname1']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.surname2' | translate }}"
                    controlName="interested_data_surname2" idValue="interested_data_surname2"
                    nameValue="interested_data_surname2" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_surname2']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.nif' | translate }}"
                    controlName="interested_data_nif" idValue="interested_data_nif" nameValue="interested_data_nif"
                    [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_nif']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
        </div>
        <div class="d-contents col-sm-12">
            <div class="form-group col-md-3">
                <app-input-select [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.cnae' | translate }}"
                    controlName="interested_data_cnae" idValue="interested_data_cnae" nameValue="interested_data_cnae" [isRequired]="isRequired"
                    [fieldOptions]="businessType"
                    [error]="validate && formInterestedData.controls['interested_data_cnae']?.pristine"
                    [errorText]="errorCharacterLeng">
                </app-input-select>
            </div>
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.iae' | translate }}"
                    controlName="interested_data_iae" idValue="interested_data_iae" nameValue="interested_data_iae"
                    [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_iae']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-4 px-0 d-flex">
                <div class="form-group col-md-6">
                    <app-input-date [form]="formInterestedData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.iae_date' | translate }}"
                        controlName="interested_data_iae_date" idValue="interested_data_iae_date"
                        nameValue="interested_data_iae_date" [isReadOnly]="readOnly" [isRequired]="isRequired"
                        [error]="validate && formInterestedData.controls['interested_data_iae_date']?.pristine"
                        [errorText]="errorCharacterLeng"></app-input-date>
                </div>

                <div class="form-group col-md-6">
                    <app-input-number
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.employees_number' | translate }}"
                    controlName="interested_data_employees_number" idValue="interested_data_employees_number"
                    nameValue="interested_data_employees_number" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_employees_number']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-number>
                </div>
            </div>
        </div>
        <div class="d-contents col-sm-12">
            <div class="form-group col-md-3">
                <app-input-select [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.businessType' | translate }}"
                    controlName="businessType" idValue="businessType" nameValue="businessType" [isRequired]="isRequired"
                    [fieldOptions]="businessType"
                    [error]="validate && formInterestedData.controls['businessType']?.pristine"
                    [errorText]="errorCharacterLeng">
                </app-input-select>
            </div>
            <div class="form-group col-md-2">
                <app-input-select [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.ownGroup' | translate }}"
                    controlName="ownGroup" idValue="ownGroup" nameValue="ownGroup" [isRequired]="isRequired"
                    [fieldOptions]="siNo" [error]="validate && formInterestedData.controls['ownGroup']?.pristine"
                    [errorText]="errorCharacterLeng">
                </app-input-select>
            </div>
            <div class="form-group col-md-3">
                <app-input-number placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.active' | translate }}"
                    controlName="interested_data_active" idValue="interested_data_active"
                    nameValue="interested_data_active" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_active']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-number>
            </div>
            <div class="form-group col-md-3">
                <app-input-number placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.turnover' | translate }}"
                    controlName="interested_data_turnover" idValue="interested_data_turnover"
                    nameValue="interested_data_turnover" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_turnover']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-number>
            </div>
        </div>
        <div class="d-contents col-sm-12">
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.residence_country' | translate }}"
                    controlName="interested_data_residence_country" idValue="interested_data_residence_country"
                    nameValue="interested_data_residence_country" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_residence_country']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-2">
                <app-input-date [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.birth_date' | translate }}"
                    controlName="interested_data_birth_date" idValue="interested_data_birth_date"
                    nameValue="interested_data_birth_date" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_data_birth_date']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-date>
            </div>
            <div class="form-group col-md-3">
                <app-input-select [form]="formInterestedData"
                    placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }}"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.genre' | translate }}"
                    controlName="interested_data_genre" idValue="interested_data_genre"
                    nameValue="interested_data_genre" [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [fieldOptions]="selectInfo" [errorText]="errorCharacterLeng">
                </app-input-select>
            </div>
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formInterestedData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.telephone' | translate }}"
                    controlName="interested_telephone" idValue="interested_telephone" nameValue="interested_telephone"
                    [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formInterestedData.controls['interested_telephone']?.pristine"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
        </div>
    </div>
</div>