<!-- <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2 block">
        <div class="wrapper-progressBar">
            <ul class="progressBar" *ngIf="breadcrumbs">
                <div *ngFor="let breadcrumb of breadcrumbs">
                    <li *ngIf="!breadcrumb.terminal && !breadcrumb.idProcedure && !breadcrumb.my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumb.url]">{{ breadcrumb.title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumb.url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumb.title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumb.terminal && breadcrumb.idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumb.url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumb.title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumb.url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                            breadcrumb.title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumb.terminal && breadcrumb.my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumb.url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumb.title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumb.url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumb.title | translate
                            }}</a>

                    </li>
                    <li *ngIf="breadcrumb.terminal" >{{ breadcrumb.title | translate}}</li>
                </div>
            </ul>
        </div>
    </div>
</div> -->



<div class="row mb-5" *ngIf="view === 'solicitante'">
    <div class="col-xs-12 col-md-8 offset-md-2 block">
      <div class="wrapper-progressBar">
        <ul class="progressBar">
            <li *ngIf="!breadcrumbs[0].terminal && !breadcrumbs[0].idProcedure && !breadcrumbs[0].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[0].title | translate
                            }}</a>

                    </li>
                    <li *ngIf="breadcrumbs[1].terminal" class="selected"><strong>{{ breadcrumbs[1].title | translate}}</strong></li>
                    <li class="inactive">Mi solicitud</li>
                    <li class="inactive">Documentación a aportar</li>
                    <li class="inactive">Aceptación</li>
                    <li class="inactive">Presentar Solicitud</li>
        </ul>
      </div>
    </div>
</div>


<div class="row mb-5" *ngIf="view === 'solicitud'">
    <div class="col-xs-12 col-md-8 offset-md-2 block">
      <div class="wrapper-progressBar">
        <ul class="progressBar">
            <li *ngIf="!breadcrumbs[0].terminal && !breadcrumbs[0].idProcedure && !breadcrumbs[0].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[0].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && !breadcrumbs[1].idProcedure && !breadcrumbs[1].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[1].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="breadcrumbs[2].terminal" class="selected"><strong>{{ breadcrumbs[2].title | translate}}</strong></li>
                    <li class="inactive">Documentación a aportar</li>
                    <li class="inactive">Aceptación</li>
                    <li class="inactive">Presentar Solicitud</li>
        </ul>
      </div>
    </div>
</div>



<div class="row mb-5" *ngIf="view === 'documents'">
    <div class="col-xs-12 col-md-8 offset-md-2 block">
      <div class="wrapper-progressBar">
        <ul class="progressBar">
            <li *ngIf="!breadcrumbs[0].terminal && !breadcrumbs[0].idProcedure && !breadcrumbs[0].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[0].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && !breadcrumbs[1].idProcedure && !breadcrumbs[1].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[1].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[2].terminal && !breadcrumbs[2].idProcedure && !breadcrumbs[2].my_request"
                    class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url]">{{ breadcrumbs[2].title |
                        translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url]" [queryParams]="{ draft: draft}"
                        >{{ breadcrumbs[2].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[2].terminal && breadcrumbs[2].idProcedure" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url]" [queryParams]="{ idProcedure:procedure.id }"
                        >{{ breadcrumbs[2].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url]"
                        [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                            breadcrumbs[2].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[2].terminal && breadcrumbs[2].my_request" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url + '/' + procedure.rutaFormulario]"
                        >{{ breadcrumbs[2].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url + '/' + procedure.rutaFormulario]"
                        [queryParams]="{draft: draft}" >{{ breadcrumbs[2].title | translate
                        }}</a>
                </li>
                    <li *ngIf="breadcrumbs[3].terminal" class="selected"><strong>{{ breadcrumbs[3].title | translate}}</strong></li>
                    <li class="inactive">Aceptación</li>
                    <li class="inactive">Presentar Solicitud</li>
        </ul>
      </div>
    </div>
</div>

<div class="row mb-5" *ngIf="view === 'manifestations'">
    <div class="col-xs-12 col-md-8 offset-md-2 block">
      <div class="wrapper-progressBar">
        <ul class="progressBar">
            <li *ngIf="!breadcrumbs[0].terminal && !breadcrumbs[0].idProcedure && !breadcrumbs[0].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[0].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && !breadcrumbs[1].idProcedure && !breadcrumbs[1].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[1].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[2].terminal && !breadcrumbs[2].idProcedure && !breadcrumbs[2].my_request"
                    class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url]">{{ breadcrumbs[2].title |
                        translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url]" [queryParams]="{ draft: draft}"
                        >{{ breadcrumbs[2].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[2].terminal && breadcrumbs[2].idProcedure" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url]" [queryParams]="{ idProcedure:procedure.id }"
                        >{{ breadcrumbs[2].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url]"
                        [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                            breadcrumbs[2].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[2].terminal && breadcrumbs[2].my_request" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url + '/' + procedure.rutaFormulario]"
                        >{{ breadcrumbs[2].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url + '/' + procedure.rutaFormulario]"
                        [queryParams]="{draft: draft}" >{{ breadcrumbs[2].title | translate
                        }}</a>
                </li>
                <li *ngIf="!breadcrumbs[3].terminal && !breadcrumbs[3].idProcedure && !breadcrumbs[3].my_request"
                    class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[3].url]">{{ breadcrumbs[2].title |
                        translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[3].url]" [queryParams]="{ draft: draft}"
                        >{{ breadcrumbs[3].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[3].terminal && breadcrumbs[3].idProcedure" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[3].url]" [queryParams]="{ idProcedure:procedure.id }"
                        >{{ breadcrumbs[3].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[3].url]"
                        [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                            breadcrumbs[3].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[3].terminal && breadcrumbs[3].my_request" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[3].url + '/' + procedure.rutaFormulario]"
                        >{{ breadcrumbs[3].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[3].url + '/' + procedure.rutaFormulario]"
                        [queryParams]="{draft: draft}" >{{ breadcrumbs[3].title | translate
                        }}</a>
                </li>
                    <li *ngIf="breadcrumbs[4].terminal" class="selected"><strong>{{ breadcrumbs[4].title | translate}}</strong></li>
                    <li class="inactive">Presentar Solicitud</li>
        </ul>
      </div>
    </div>
</div>


<div class="row mb-5" *ngIf="view === 'sign'">
    <div class="col-xs-12 col-md-8 offset-md-2 block">
      <div class="wrapper-progressBar">
        <ul class="progressBar">
            <li *ngIf="!breadcrumbs[0].terminal && !breadcrumbs[0].idProcedure && !breadcrumbs[0].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[0].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[0].terminal && breadcrumbs[0].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[0].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[0].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && !breadcrumbs[1].idProcedure && !breadcrumbs[1].my_request"
                        class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]">{{ breadcrumbs[0].title |
                            translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ draft: draft}"
                            >{{ breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].idProcedure" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url]" [queryParams]="{ idProcedure:procedure.id }"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[1].url]"
                            [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                                breadcrumbs[1].title | translate }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[1].terminal && breadcrumbs[1].my_request" class="active">
                        <a *ngIf="!draft" [routerLink]="[breadcrumbs[1].url + '/' + procedure.rutaFormulario]"
                            >{{ breadcrumbs[1].title | translate }}</a>
                        <a *ngIf="draft" [routerLink]="[breadcrumbs[0].url + '/' + procedure.rutaFormulario]"
                            [queryParams]="{draft: draft}" >{{ breadcrumbs[1].title | translate
                            }}</a>
                    </li>
                    <li *ngIf="!breadcrumbs[2].terminal && !breadcrumbs[2].idProcedure && !breadcrumbs[2].my_request"
                    class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url]">{{ breadcrumbs[2].title |
                        translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url]" [queryParams]="{ draft: draft}"
                        >{{ breadcrumbs[2].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[2].terminal && breadcrumbs[2].idProcedure" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url]" [queryParams]="{ idProcedure:procedure.id }"
                        >{{ breadcrumbs[2].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url]"
                        [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                            breadcrumbs[2].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[2].terminal && breadcrumbs[2].my_request" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[2].url + '/' + procedure.rutaFormulario]"
                        >{{ breadcrumbs[2].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[2].url + '/' + procedure.rutaFormulario]"
                        [queryParams]="{draft: draft}" >{{ breadcrumbs[2].title | translate
                        }}</a>
                </li>
                <li *ngIf="!breadcrumbs[3].terminal && !breadcrumbs[3].idProcedure && !breadcrumbs[3].my_request"
                    class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[3].url]">{{ breadcrumbs[2].title |
                        translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[3].url]" [queryParams]="{ draft: draft}"
                        >{{ breadcrumbs[3].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[3].terminal && breadcrumbs[3].idProcedure" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[3].url]" [queryParams]="{ idProcedure:procedure.id }"
                        >{{ breadcrumbs[3].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[3].url]"
                        [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                            breadcrumbs[3].title | translate }}</a>
                </li>
                <li *ngIf="!breadcrumbs[3].terminal && breadcrumbs[3].my_request" class="active">
                    <a *ngIf="!draft" [routerLink]="[breadcrumbs[3].url + '/' + procedure.rutaFormulario]"
                        >{{ breadcrumbs[3].title | translate }}</a>
                    <a *ngIf="draft" [routerLink]="[breadcrumbs[3].url + '/' + procedure.rutaFormulario]"
                        [queryParams]="{draft: draft}" >{{ breadcrumbs[3].title | translate
                        }}</a>
                </li>
                <li *ngIf="!breadcrumbs[4].terminal && !breadcrumbs[4].idProcedure && !breadcrumbs[4].my_request"
                class="active">
                <a *ngIf="!draft" [routerLink]="[breadcrumbs[4].url]">{{ breadcrumbs[2].title |
                    translate }}</a>
                <a *ngIf="draft" [routerLink]="[breadcrumbs[4].url]" [queryParams]="{ draft: draft}"
                    >{{ breadcrumbs[4].title | translate }}</a>
            </li>
            <li *ngIf="!breadcrumbs[4].terminal && breadcrumbs[4].idProcedure" class="active">
                <a *ngIf="!draft" [routerLink]="[breadcrumbs[4].url]" [queryParams]="{ idProcedure:procedure.id }"
                    >{{ breadcrumbs[4].title | translate }}</a>
                <a *ngIf="draft" [routerLink]="[breadcrumbs[4].url]"
                    [queryParams]="{ idProcedure:procedure.id, draft: draft }" >{{
                        breadcrumbs[4].title | translate }}</a>
            </li>
            <li *ngIf="!breadcrumbs[4].terminal && breadcrumbs[4].my_request" class="active">
                <a *ngIf="!draft" [routerLink]="[breadcrumbs[4].url + '/' + procedure.rutaFormulario]"
                    >{{ breadcrumbs[4].title | translate }}</a>
                <a *ngIf="draft" [routerLink]="[breadcrumbs[4].url + '/' + procedure.rutaFormulario]"
                    [queryParams]="{draft: draft}" >{{ breadcrumbs[4].title | translate
                    }}</a>
            </li>
                    <li *ngIf="breadcrumbs[5].terminal" class="selected"><strong>{{ breadcrumbs[5].title | translate}}</strong></li>
        </ul>
      </div>
    </div>
</div>