<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<div class="row mr-0 ml-4">
    <a [routerLink]="['/carpeta-del-ciudadano/request-info']">
        <em class="fas fa-chevron-left"></em> {{ 'buttons.back' | translate}}
    </a>
</div>
<div class="row mx-0">
    <div class="col-md-6 col-sm-12 card mt-2">
        <div class="card-header background-card-header pb-0">
            <div class="card-title text-white">
                <em class="fas fa-user"></em>
                {{ 'carpeta_ciudadana.identification.identity_data.title' | translate }}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-8 mx-auto">
                    <label for="import">{{ 'carpeta_ciudadana.identification.identity_data.name_and_surname' | translate }} </label>
                    <input type="text" name="import" id="import" class="form-control">
                </div>
                <div class="form-group col-md-4 mx-auto">
                    <label for="modality">{{ 'carpeta_ciudadana.identification.identity_data.nif' | translate }} </label>
                    <input type="text" name="modality" id="modality" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 card mt-2">
        <div class="card-header background-card-header pb-0">
            <div class="card-title text-white">
                <em class="fas fa-info-circle"></em>
                {{ 'carpeta_ciudadana.notification_means.title' | translate }}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6 mx-auto">
                    <label for="import">{{ 'carpeta_ciudadana.notification_means.title' | translate }} </label>
                    <input type="text" name="import" id="import" class="form-control">
                </div>
                <div class="form-group col-md-6 mx-auto">
                    <label for="modality">{{ 'carpeta_ciudadana.notification_means.email' | translate }} </label>
                    <input type="text" name="modality" id="modality" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-md-12 card mt-2">
        <div class="card-header background-card-header pb-0">
            <div class="card-title text-white">
                <em class="fas fa-info-circle"></em>
                {{ 'carpeta_ciudadana.request_info.title' | translate }}
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-start">
                <div class="form-group col-md-6">
                    <label for="import">{{ 'carpeta_ciudadana.general_instance.request_info.summary' | translate }} </label>
                    <input type="text" name="import" id="import" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mx-auto">
                    <label for="import">{{ 'carpeta_ciudadana.general_instance.request_info.expose' | translate }} </label>
                    <textarea type="text" name="import" id="import" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-6 mx-auto">
                    <label for="import">{{ 'carpeta_ciudadana.general_instance.request_info.request' | translate }} </label>
                    <textarea type="text" name="import" id="import" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>