<form [formGroup]="form">
    <label for="nameValue">{{ label }} <span *ngIf="isRequired" class="requiredField"><b>*</b></span> </label>
    <input type="text" class="form-control" 
    [id]="idValue"
    [name]="nameValue"
    [formControlName]="controlName" 
    [placeholder]="placeholder"
    [readonly]="isReadOnly" 
    (change)="onChangeValue($event.target.value)" 
    [ngClass]="{ 'error-input': error  && errorNif == true }">
    <p class="error-p" *ngIf='error && errorNif' [innerHTML]="textError"></p>
</form>