<app-input-document 
    label="{{ 'carpeta_ciudadana.documentation.PYME.society_constitution_PYME' | translate }}"
    idValue="society_constitution_PYME" 
    [isRequired]="true" 
    errorText="document_error"
    [error]="validate && society_constitution_PYME"
    fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
    (uploadFileDocument)="saveDocument($event)"
    (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document
  label="{{ 'carpeta_ciudadana.documentation.PYME.beneficial_ownership_PYME' | translate }}"
  idValue="beneficial_ownership_PYME" 
  [isRequired]="true" 
  errorText="document_error"
  [error]="validate && beneficial_ownership_PYME"
  fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
  (uploadFileDocument)="saveDocument($event)"
  (deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.legal_representative_PYME' | translate }}"
idValue="legal_representative_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && legal_representative_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.annual_accounts_PYME' | translate }}"
idValue="annual_accounts_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && annual_accounts_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME._commercial_code_PYME' | translate }}"
idValue="_commercial_code_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && _commercial_code_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.tax_returns_PYME' | translate }}"
idValue="tax_returns_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && tax_returns_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.risk_inform_PYME' | translate }}"
idValue="risk_inform_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && risk_inform_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.model_390_PYME' | translate }}"
idValue="model_390_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_390_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.model_347_PYME' | translate }}"
idValue="model_347_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_347_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.registered_office_PYME' | translate }}"
idValue="registered_office_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && registered_office_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.business_group_PYME' | translate }}"
idValue="business_group_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && business_group_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.PYME' | translate }}"
idValue="PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.PYME.tecnic_memory_PYME' | translate }}"
idValue="tecnic_memory_PYME" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && tecnic_memory_PYME"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>