<app-header-carpeta-ciudadana></app-header-carpeta-ciudadana>
<div class="card mb-2">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-user"></em>
            <label>{{ 'carpeta_ciudadana.instance.docAdd' | translate }}</label>
        </div>
    </div>
<label class="m-4">Adjuntar documentación adicional <span (click)="createCompo()" class="btn btn-primary primary-background" id="btnArchivo">
    <i class="fa fa-plus-circle text-white"></i>
</span></label>
<div class="input-group mb-3 m-4">
      <div class="input-group-prepend">
         <label for="fileUploader" class="m-0" id="lblArchivo">
           <span class="btn btn-primary primary-background btn-add-file" id="btnArchivo">
               <i class="fa fa-file-pdf-o"></i>
           </span>
         </label>
         <input type="text" class="borderless form-control file-name-text" id="archivoName" (change)="saveName($event)"
         placeholder="Seleccione un archivo" disabled="true" #archivoName>
         <input type="file" #fileUploader (change)="editInput($event)" name="" id="fileUploader"
         accept=".doc,.docx,application/msword,application/pdf" hidden>
      </div>
      <div class="input-group-prepend">
        <a class="btn btn-danger btn-remove-file" (click)="removeFile()">
           <i class="fa fa-remove"></i>
        </a>
      </div>
</div>
</div>
<div class="text-right px-3 py-3">
    <button class="btn-app-primary mr-2">{{ 'buttons.continue' | translate}}</button>
</div>