<app-header-carpeta-ciudadana *ngIf="procedure" [procedure]="procedure"></app-header-carpeta-ciudadana>
<app-button-back></app-button-back>
<div class="card mx-4">
  <div class="card-header background-card-header pb-0">
    <div class="card-title text-white">
      <em class="far fa-file mr-2"></em>
      <label>{{ 'carpeta_ciudadana.instance.docAdd' | translate }}</label>
    </div>
  </div>
  <app-input-document 
  [form]="formDocument.controls.documentNif"
   label="{{ 'carpeta_ciudadana.documentation.generic.dni' | translate }}" 
   idValue="documentNif"
   [isRequired]="true"
   errorText="document_error" 
   [error]="validate && formDocument.controls['documentNif']?.touched"
   fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
   (uploadFileDocument)="saveDocument($event)"
   (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  <app-input-document 
  [form]="formDocument.controls.documentHelp"
   label="{{ 'carpeta_ciudadana.documentation.generic.help' | translate }}" 
   idValue="documentHelp" 
   [isRequired]="true"
   [idPlantilla]="true"
   errorText="document_error" 
   [error]="validate && formDocument.controls['documentHelp']?.touched"
   fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
   (uploadFileDocument)="saveDocument($event)"
   (deleteFileDocument)="deleteDocument($event)">
  </app-input-document>

  
 
  <div class="text-right px-3 py-3">
    <button class="btn-app-primary mr-2" (click)="goToRequestInfo()">{{ 'buttons.continue' | translate}}</button>
  </div>
</div>