<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.society_constitution_community' | translate }}"
idValue="society_constitution_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && society_constitution_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.declarations_rent_community' | translate }}"
idValue="declarations_rent_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && declarations_rent_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_184_entities_community' | translate }}"
idValue="model_184_entities_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_184_entities_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_390_community' | translate }}"
idValue="model_390_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_390_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.voucher_pay_community' | translate }}"
idValue="voucher_pay_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && voucher_pay_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_130_131_community' | translate }}"
idValue="model_130_131_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_130_131_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_347_community' | translate }}"
idValue="model_347_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && model_347_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.registered_office_community' | translate }}"
idValue="registered_office_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && registered_office_community"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>