<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.society_constitution_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.society_constitution_community' | translate }}"
idValue="society_constitution_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['society_constitution_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.declarations_rent_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.declarations_rent_community' | translate }}"
idValue="declarations_rent_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['declarations_rent_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.model_184_entities_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_184_entities_community' | translate }}"
idValue="model_184_entities_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['model_184_entities_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.model_390_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_390_community' | translate }}"
idValue="model_390_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['model_390_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.voucher_pay_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.voucher_pay_community' | translate }}"
idValue="voucher_pay_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['voucher_pay_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.model_130_131_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_130_131_community' | translate }}"
idValue="model_130_131_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['model_130_131_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.model_347_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.model_347_community' | translate }}"
idValue="model_347_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['model_347_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>

<app-input-document *ngIf="tipo_empresa === 'beneficits_community'" 
[form]="formDocument.controls.registered_office_community"
label="{{ 'carpeta_ciudadana.documentation.beneficits_community.registered_office_community' | translate }}"
idValue="registered_office_community" 
[isRequired]="true" 
errorText="document_error"
[error]="validate && formDocument.controls['registered_office_community']?.touched"
fileExtension=",.doc,.docx,.msword,.pdf,.xlsx" 
(uploadFileDocument)="saveDocument($event)"
(deleteFileDocument)="deleteDocument($event)">
</app-input-document>