<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-id-card"></em>
            <span> {{ 'carpeta_ciudadana.identification.represented_data.title' | translate }}</span>
        </div>
    </div>
    <div class="card-body row mx-0">
        <div class="row w-100">
            <div class="form-group col-md-3">
                <app-input-select (change)="representativeTypeChange($event.target.value)"
                    [error]="validate && formRepresentativeData.controls['representativeTypes']?.invalid"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.type' | translate }}"
                    controlName="representativeTypes" 
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    idValue="representativeTypes" 
                    nameValue="representativeTypes" 
                    [isRequired]="isRequired" 
                    placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }} "
                    [fieldOptions]="representativeTypes">
                </app-input-select>
                
            </div>
            <div class="form-group col-md-3" *ngIf="!isJuridicPerson()">
                <app-input-text  placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.name' | translate }}"
                    controlName="represented_data_name" idValue="represented_data_name"
                    nameValue="represented_data_name" [isReadOnly]="readOnly" [isRequired]="isRequired && !isJuridicPerson()"
                    [error]="validate && formRepresentativeData.controls['represented_data_name']?.invalid"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-3" *ngIf="!isJuridicPerson()">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.surname1' | translate }}"
                    controlName="represented_data_surname1" idValue="represented_data_surname1"
                    nameValue="represented_data_surname1" [isReadOnly]="readOnly" [isRequired]="isRequired && !isJuridicPerson()"
                    [error]="validate && formRepresentativeData.controls['represented_data_surname1']?.invalid"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-3" *ngIf="!isJuridicPerson()">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [isRequired]="false"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.surname2' | translate }}"
                    controlName="represented_data_surname2" idValue="represented_data_surname2"
                    nameValue="represented_data_surname2" [isReadOnly]="readOnly"
                    [error]="" [draft]="draftRepresentativeData"
                    [errorText]=""></app-input-text>
            </div>
            <div class="form-group col-md-3" [ngClass]="{ 'd-none': !isJuridicPerson() }">
                <app-input-text  placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.social_reason' | translate }}"
                    controlName="represented_data_social_reason" idValue="represented_data_name"
                    nameValue="represented_data_name" [isReadOnly]="readOnly" [isRequired]="isJuridicPerson()"
                    [error]="validate && formRepresentativeData.controls['represented_data_social_reason']?.invalid"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="form-group col-md-3">
                <app-input-text-nif placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.nif' | translate }}"
                    controlName="represented_data_nif" 
                    idValue="represented_data_nif" 
                    nameValue="represented_data_nif"
                    [isReadOnly]="readOnly" 
                    [isRequired]="isRequired" 
                    [error]="validate" 
                    [errorText]="errorNif">
                </app-input-text-nif>
            </div>
            <div class="form-group col-md-2" [ngClass]="{ 'd-none': !isJuridicPerson() }">
                <app-input-date [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.constitution_date' | translate }}"
                    controlName="represented_data_constitution_date" idValue="represented_data_constitution_date" [maxDate]="true"
                    nameValue="represented_data_constitution_date" [isReadOnly]="readOnly" [isRequired]="isJuridicPerson()"
                    [error]="validate && formRepresentativeData.controls['represented_data_constitution_date']?.invalid"
                    [errorText]="errorCharacterLeng"></app-input-date>
            </div>
            <div class="form-group col-md-3">
                <app-input-select [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.cnae' | translate }}"
                    controlName="represented_data_cnae" idValue="represented_data_cnae" 
                    nameValue="represented_data_cnae"
                    placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }} "
                    [isRequired]="isJuridicPerson()" [fieldOptions]="cnaeOptions"
                    [error]="validate && formRepresentativeData.controls['represented_data_cnae']?.invalid"
                    [errorText]="errorCharacterLeng">
                </app-input-select>
            </div>
            <div class="form-group col-md-3">
                <app-input-text placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.iae' | translate }}"
                    controlName="represented_data_iae" idValue="represented_data_iae" nameValue="represented_data_iae"
                    [isReadOnly]="readOnly" [isRequired]="isRequired"
                    [error]="validate && formRepresentativeData.controls['represented_data_iae']?.invalid"
                    [errorText]="errorCharacterLeng"></app-input-text>
            </div>
            <div class="col-md-3 d-flex">
                <div class="form-group col-md-6 pl-0">
                    <app-input-date [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.iae_date' | translate }}"
                        controlName="represented_data_iae_date" idValue="represented_data_iae_date" [maxDate]="true"
                        nameValue="represented_data_iae_date" [isReadOnly]="readOnly" [isRequired]="isRequired"
                        [error]="validate && formRepresentativeData.controls['represented_data_iae_date']?.invalid"
                        [errorText]="errorCharacterLeng"></app-input-date>
                </div>
                <div class="form-group col-md-6 pr-0">
                    <app-input-number [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.employees_number' | translate }}"
                        controlName="represented_data_employees_number" idValue="represented_data_employees_number"
                        nameValue="represented_data_employees_number" [isRequired]="isRequired"
                        [value]=""
                        [negativos]="negativos"
                        [error]="validate && formRepresentativeData.controls['represented_data_employees_number']?.invalid"
                        errorText="empty_error"></app-input-number>
                </div>
            </div>
            
        </div>
        <div class="row w-100">
            <div class="form-group col-md-3">
                <app-input-select [form]="formRepresentativeData" (change)="businessTypeChange($event.target.value)"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.businessType' | translate }}"
                    controlName="businessType" [draft]="draftRepresentativeData"
                    idValue="businessType" 
                    nameValue="businessType" [isRequired]="isRequired"
                    [fieldOptions]="businessType" [idSelected]="businessTypeSelected"
                    placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }}"
                    [error]="validate && formRepresentativeData.controls['businessType']?.invalid"
                    [errorText]="errorCharacterLeng">
                </app-input-select>
            </div>
            <div class="w-100 d-contents" [ngClass]="{ 'd-none': isAutonum() }">
                <div class="w-100 d-contents" *ngIf="!comunidadBienes && businessTypeSelected === ''">
                <div class="form-group col-md-3">
                    <app-input-select [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.ownGroup' | translate }}"
                        controlName="ownGroup" 
                        idValue="ownGroup" 
                        nameValue="ownGroup"
                        [isRequired]="isRequired && !isAutonum()"
                        placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }} " 
                        [fieldOptions]="belongingCompany"
                        [error]="validate && formRepresentativeData.controls['ownGroup']?.invalid"
                        [errorText]="errorCharacterLeng">
                    </app-input-select>
                </div>
                <div class="form-group col-md-3">
                    <app-input-number placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                        [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.active' | translate }}"
                        controlName="represented_data_active" idValue="represented_data_active"
                        nameValue="represented_data_active" [isReadOnly]="readOnly" [isRequired]="isRequired && !isAutonum()"
                        [error]="validate && formRepresentativeData.controls['represented_data_active']?.invalid"
                        [errorText]="errorCharacterLeng"></app-input-number>
                </div>
                <div class="form-group col-md-3">
                    <app-input-number placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                        [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.turnover' | translate }}"
                        controlName="represented_data_turnover" idValue="represented_data_turnover"
                        nameValue="represented_data_turnover" [isReadOnly]="readOnly" [isRequired]="isRequired && !isAutonum()"
                        [error]="validate && formRepresentativeData.controls['represented_data_turnover']?.invalid"
                        [errorText]="errorCharacterLeng"></app-input-number>
                </div>
            </div>
            <div class="w-100 d-contents" *ngIf="comunidadBienes">
                <div class="form-group col-md-3">
                    <app-input-select [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.ownGroup' | translate }}"
                        controlName="ownGroup" 
                        idValue="ownGroup" 
                        nameValue="ownGroup"
                        placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }} " 
                        [fieldOptions]="belongingCompany"
                        >
                    </app-input-select>
                </div>
                <div class="form-group col-md-3">
                    <app-input-number placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                        [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.active' | translate }}"
                        controlName="represented_data_active" idValue="represented_data_active"
                        nameValue="represented_data_active" [isReadOnly]="readOnly"
                        ></app-input-number>
                </div>
                <div class="form-group col-md-3">
                    <app-input-number placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                        [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.turnover' | translate }}"
                        controlName="represented_data_turnover" idValue="represented_data_turnover"
                        nameValue="represented_data_turnover" [isReadOnly]="readOnly"></app-input-number>
                </div>
            </div>
            </div>
            
        </div>
        <div class="row w-100" *ngIf="!isJuridicPerson()">
            <div class="form-group col-md-6 px-0 d-flex">
                <div class="form-group col-md-4">
                <app-input-text [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                label="{{ 'carpeta_ciudadana.identification.legal_representative.position' | translate }}"
                controlName="contact_position" idValue="contact_position" nameValue="contact_position"
                [isReadOnly]="readOnly" [isRequired]="isRequired && !isJuridicPerson()"
                [error]="validate && formRepresentativeData.controls['contact_position']?.invalid"
                [errorText]="errorCharacterLeng"></app-input-text>
                </div>
                <div class="form-group col-md-4">
                    <app-input-date [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.birth_date' | translate }}"
                        controlName="represented_data_birth_date" idValue="represented_data_birth_date" [maxDate]="true"
                        nameValue="represented_data_birth_date" [isReadOnly]="readOnly" [isRequired]="isRequired && !isJuridicPerson()"
                        [error]="validate && formRepresentativeData.controls['represented_data_birth_date']?.invalid"
                        [errorText]="errorCharacterLeng"></app-input-date>
                </div>
                <div class="form-group col-md-4">
                    <app-input-select [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                        placeholder="{{ 'carpeta_ciudadana.placeholder.select' | translate }}"
                        label="{{ 'carpeta_ciudadana.identification.represented_data.genre' | translate }}"
                        controlName="represented_data_genre" idValue="represented_data_genre"
                        [error]="validate && formRepresentativeData.controls['represented_data_genre']?.invalid"
                        nameValue="represented_data_genre" [isReadOnly]="readOnly" [isRequired]="isRequired && !isJuridicPerson()"
                        [fieldOptions]="genders" [errorText]="errorCharacterLeng">
                    </app-input-select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <app-input-select placeholder="{{ 'carpeta_ciudadana.placeholder.input' | translate }}"
                    [form]="formRepresentativeData" [draft]="draftRepresentativeData"
                    label="{{ 'carpeta_ciudadana.identification.represented_data.residence_country' | translate }}"
                    controlName="represented_data_residence_country" idValue="represented_data_residence_country"
                    nameValue="represented_data_residence_country" [isReadOnly]="readOnly" [isRequired]="isRequired && !isJuridicPerson()"
                    [fieldOptions]="countries"
                    [error]="validate && formRepresentativeData.controls['represented_data_residence_country']?.invalid"
                    [errorText]="errorCharacterLeng"></app-input-select>
            </div>
        </div>
    </div>
</div>