<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-id-card"></em>
            <span> {{ 'carpeta_ciudadana.identification.represented_data.title' | translate }}</span>
        </div>
    </div>
    <div class="card-body row mx-0">
        <div class="form-group col-md-3">
            <label for="type">{{ 'carpeta_ciudadana.identification.represented_data.type' | translate }} </label>
            <select id="type" name="type" [(ngModel)]="type" class="form-control">
                <option value="natural-person">Persona física</option>
                <option value="artifitial-person">Persona jurídica</option>
            </select> 
        </div>
        <div class="form-group col-md-3" *ngIf="isEmpresa()">
            <label for="social_reason">{{ 'carpeta_ciudadana.identification.represented_data.social_reason' | translate }} </label>
            <input id="social_reason" name="social_reason" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3" *ngIf="!isEmpresa()">
            <label for="name">{{ 'carpeta_ciudadana.identification.represented_data.name' | translate }} </label>
            <input id="name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3" *ngIf="!isEmpresa()">
            <label for="surname1">{{ 'carpeta_ciudadana.identification.represented_data.surname1' | translate }} </label>
            <input id="surname1" name="surname1" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3" *ngIf="!isEmpresa()">
            <label for="surname2">{{ 'carpeta_ciudadana.identification.represented_data.surname2' | translate }} </label>
            <input id="surname2" name="surname2" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="nif">{{ 'carpeta_ciudadana.identification.represented_data.nif' | translate }} </label>
            <input id="nif" name="nif" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="cnae">{{ 'carpeta_ciudadana.identification.represented_data.cnae' | translate }} </label>
            <input id="cnae" name="cnae" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="iae">{{ 'carpeta_ciudadana.identification.represented_data.iae' | translate }} </label>
            <input id="iae" name="iae" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3  px-0 d-flex">
            <div class="form-group col-md-6">
                <label for="iae_date">{{ 'carpeta_ciudadana.identification.represented_data.iae_date' | translate }} </label>
                <input id="iae_date" name="iae_date" type="date" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="employees_number">{{ 'carpeta_ciudadana.identification.represented_data.employees_number' | translate }} </label>
                <input id="employees_number" name="employees_number" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="ambit">{{ 'carpeta_ciudadana.identification.represented_data.ambit' | translate }} </label>
            <input id="ambit" name="ambit" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3" *ngIf="!isEmpresa()">
            <label for="residence_country">{{ 'carpeta_ciudadana.identification.represented_data.residence_country' | translate }} </label>
            <input id="residence_country" name="residence_country" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 px-0 d-flex" *ngIf="!isEmpresa()">
            <div class="form-group col-md-6">
                <label for="birth_date">{{ 'carpeta_ciudadana.identification.represented_data.birth_date' | translate }} </label>
                <input id="birth_date" name="birth_date" type="date" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="genre">{{ 'carpeta_ciudadana.identification.represented_data.genre' | translate }} </label>
                <input id="genre" name="genre" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-3 px-0">
            <div class="form-group col-md-6" *ngIf="isEmpresa()">
                <label for="constitution_date">{{ 'carpeta_ciudadana.identification.represented_data.constitution_date' | translate }} </label>
                <input id="constitution_date" name="constitution_date" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="active">{{ 'carpeta_ciudadana.identification.represented_data.active' | translate }} </label>
            <input id="active" name="active" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="turnover">{{ 'carpeta_ciudadana.identification.represented_data.turnover' | translate }} </label>
            <input id="turnover" name="turnover" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="group_belong">{{ 'carpeta_ciudadana.identification.represented_data.group_belong' | translate }} </label>
            <input id="group_belong" name="group_belong" type="text" class="form-control">
        </div>
    </div>
</div>