@import '../../../utils/styles/colors.scss';

.background-img {
    background-image: url(../../../../assets/img/servicios_electronicos.png);
    background-size: cover;
}

.card-body {
    border-radius: 2px;
    box-shadow: 0 2px 9px 0 rgba(209, 209, 209, 0.47);
}
.card {
    border: 0;
}
