
<div class="col-md-12 d-flex mb-4 category-header align-items-center" *ngIf="selectedCategory">
	<h1 class="text-white">{{ selectedCategory.name }}</h1>
</div>
<div class="col-md-12" *ngIf="selectedCategory">
	<div class="row">
		<div class="col-md-12">
			<table class="table mt-0 mb-3">
				<thead>
					<tr>
						<th scope="col" colspan="2" class="header-table">{{ 'procedure_detail.procedure_name' |
							translate }}</th>
					</tr>
				</thead>
				<tbody class="table-bordered">
					<tr *ngFor="let procedure of selectedCategory.procedimientos">
						<td class="col-sm-11">
							<a [routerLink]="['/procedures/' + procedure.id]" [queryParams]="{action: 'info'}"
								class="text-dark">
								{{procedure.name}}
							</a>
						</td>
						<td class="col-sm-1">
							<div class="d-flex mx-2">
								<a title="Ir al trámite" [routerLink]="['/procedures/' + procedure.id]"
									[queryParams]="{action: 'info'}">
										<em class="fas fa-info circle-icon info-icon-class color-primary mr-4"></em>
								</a>
								<a href="#" title="Tramitar online" [routerLink]="['/procedures/' + procedure.id]"
									[queryParams]="{action: 'online'}">
									<em class="fas fa-at color-primary mr-4 circle-icon"></em>
								</a>
								<a href="#" title="Tramitar presencialmente"
									[routerLink]="['/procedures/' + procedure.id]"
									[queryParams]="{action: 'presencial'}">
									<em class="fas fa-download color-primary circle-icon"></em>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>