<app-header-carpeta-ciudadana *ngIf="procedure" 
    [procedure]="procedure"></app-header-carpeta-ciudadana>
<app-button-back></app-button-back>
<form [formGroup]="formUserIdentification" (ngSubmit)="goToRequestInfo()">
    <div class="row mx-0 mt-2">
        <div class="col-md-6">
            <app-identity-data [readOnly]="true" [user]="user"
                [formIdentityData]="formUserIdentification.controls.identity_data"></app-identity-data>
        </div>
        <div class="col-md-6">
            <app-notification-means [readOnly]="false"
                [formNotificationMeans]="formUserIdentification.controls.notification_means" [emailError]="emailError"
                [emailErrorText]="emailErrorText" [notificationError]="notificationError"
                [notificationErrorText]="notificationErrorText"></app-notification-means>
        </div>
        <div class="col-md-12">
            <app-requester-data [validate]="validate" [formRequestData]="formUserIdentification.controls.request_data"
                (typeOutput)="onChangeTypeRequester($event)"></app-requester-data>
        </div>
    </div>

    <!-- <div class="row mx-0">
        <div class="col-md-12 mt-2" *ngIf="representative || isUserAutonomo()">
            <app-actuation-data [formActuationData]="formUserIdentification.controls.actuation_data" [readOnly]="false">
            </app-actuation-data>
        </div>
    </div> -->
    <div [ngClass]="{ 'd-none': representative == false && interested == false }">
        <div class="row mx-0">
            <div class="col-md-12 mt-2" [ngClass]="{ 'd-none': representative == false}">
                <app-representative-data [validate]="validate" [isRequired]="representative"
                    [formRepresentativeData]="formUserIdentification.controls.representative_data" [readOnly]="false">
                </app-representative-data>
            </div>
            <div class="col-md-12 mt-2" [ngClass]="{ 'd-none': interested == false}">
                <app-interested-data [validate]="validate" [isRequired]="interested"
                    [formInterestedData]="formUserIdentification.controls.interested_data" [readOnly]="false">
                </app-interested-data>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-12 mt-2">
                <app-social-address [validate]="validate" isRequired="true"
                    [formSocialAdress]="formUserIdentification.controls.sosial_address"></app-social-address>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-12 mt-2">
                <app-productive-establishment-address [validate]="validate" isRequired="true"
                    [formProductiveEstablishment]="formUserIdentification.controls.productive_establishment"
                    [readOnly]="false"></app-productive-establishment-address>
            </div>
        </div>
        <div class="row mx-0" [ngClass]="{ 'd-none': representative == false}">
            <div class="col-md-12 mt-2">
                <app-legal-representative [validate]="validate"
                    [formLegalRepresentative]="formUserIdentification.controls.legal_representative"
                    [isRequired]="representative" [readOnly]="false"></app-legal-representative>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-12 mt-2">
                <app-contact-data [validate]="validate" [formContactData]="formUserIdentification.controls.contact_data"
                    [interesado]="interested" [readOnly]="false">
                </app-contact-data>
            </div>
        </div>
    </div>
    <br>
    <div class="text-right px-3">
        <button class="btn-app-primary mr-2" type="submit">{{ 'buttons.continue' | translate}}</button>
    </div>
</form>