@import '../../../utils/styles/colors.scss';

.background-img {
    background-image: url(../../../../assets/img/servicios_electronicos.png);
    background-size: cover;
}

.background-card-header {
    background-color: $card-header !important;
  }