/* You can add global styles to this file, and also import other style files */
@import "app/utils/styles/inputs";
@import "app/utils/styles/colors";
@import "app/utils/styles/fonts";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: var(--font-family);
}

.breadcrumb-header-carpeta {
    background-color: transparent !important;
    .breadcrumb-item {
        color: white !important;
        a {
            color: white !important;
        }
        &.active {
            font-weight: bold;
        }
    }
} 

.background-card-header {
    background-color: $card-header !important;
}
.card-text{
    flex: 1 1 auto;
    min-height: 1px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


.breadcrumb-item a {
    color: black !important
}
