/* You can add global styles to this file, and also import other style files */
@import "app/utils/styles/inputs";
@import "app/utils/styles/colors";
@import "app/utils/styles/fonts";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: var(--font-family);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white !important;
    content: ">" !important;
}


.background-card-header {
    background-color: $card-header !important;
}