
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sede-angular-primary: mat-palette($mat-indigo);
$sede-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sede-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sede-angular-theme: mat-light-theme($sede-angular-primary, $sede-angular-accent, $sede-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sede-angular-theme);

/* You can add global styles to this file, and also import other style files */
@import "app/utils/styles/inputs";
@import "app/utils/styles/colors";
@import "app/utils/styles/fonts";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.google.com/specimen/Nunito');
body {
     font-family: var(--font-family);
}

.breadcrumb-header-carpeta {
    background-color: transparent !important;
    .breadcrumb-item {
        color: $primaryColor !important;
        a {
            color: $primaryColor !important;
        }
        &.active {
            font-weight: 500;
        }
    }
} 

.capitalize-first-letter::first-letter {
    text-transform:uppercase;
  }
  

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
.d-contents{
    display: contents;
}

.background-card-header {
    background-color: $card-header !important;
}
.card-text{
    flex: 1 1 auto;
    min-height: 1px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


.breadcrumb-item a {
    color: black !important
}
.color-links{
    color: $red-header;
}
html, body { height: 100%; }
body { margin: 0; }

.contents{
    display: contents;
}

.btn-rounded-circle {
    height: 46px;
    border-radius: 24px !important;
    border: solid 1px $primaryColor;
    color: $primaryColor;
    -webkit-border-radius: 24px !important;
    -moz-border-radius: 24px !important;
    -ms-border-radius: 24px !important;
    -o-border-radius: 24px !important;
}


//Progres BAR 
.wrapper-progressBar {
    width: 100%
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 15%;
    position: relative;
    text-align: center;
    &::before{
        font-family: "Font Awesome 5 Free";
        content: "\f00c";
        vertical-align: middle;
        font-weight:900;
        color: white;
        line-height: 30px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px;
        background-color: white
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $primaryColor;
        color:$primaryColor;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: $primaryColor;
    content: "1";
    &::before{
        border-color: $primaryColor;
        background-color: $primaryColor;
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $primaryColor;
        color:$primaryColor;
        top: 15px;
        left: 50%;
        z-index: -1;
    }
}

.progressBar li.inactive{
    color: $primaryColor;
    font-size: smaller;
}
.progressBar li.selected{
    color: $primaryColor;
    &::before{
        content:"";
        border: 4px solid $primaryColor;
        border-color: $primaryColor;
    }

}

.foot-buttons{
    display: flex!important;
    justify-content: space-around;
}


