<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-building"></em>
            {{ 'carpeta_ciudadana.identification.productive_establishment_address.title' | translate }}
        </div>
    </div>
    <div class="card-body row mx-0">
        <div class="form-group col-md-3">
            <label for="via_type">{{ 'carpeta_ciudadana.identification.address.via_type' | translate }} </label>
            <input id="via_type" name="via_type" type="via_type" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="address">{{ 'carpeta_ciudadana.identification.address.address' | translate }} </label>
            <input id="address" name="address" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 px-0">
            <div class="col-md-6">
                <label for="number">{{ 'carpeta_ciudadana.identification.address.number' | translate }} </label>
                <input id="number" name="number" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="extra">{{ 'carpeta_ciudadana.identification.address.extra' | translate }} </label>
            <input id="extra" name="extra" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 px-0">
            <div class="col-md-6">
                <label for="CP">{{ 'carpeta_ciudadana.identification.address.CP' | translate }} </label>
                <input id="CP" name="CP" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="form-group col-md-3">
            <label for="country">{{ 'carpeta_ciudadana.identification.address.country' | translate }} </label>
            <input id="country" name="country" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="province">{{ 'carpeta_ciudadana.identification.address.province' | translate }} </label>
            <input id="province" name="province" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="municipality">{{ 'carpeta_ciudadana.identification.address.municipality' | translate }} </label>
            <input id="municipality" name="municipality" type="text" class="form-control">
        </div>
    </div>
</div>