/**
  Colors classes, the number is "ammount of brightness"

  50 - Darker
  100 - Regular
  200 - Lighter
 */

//  color gris primario #567b97

$primaryColor: var(--primary-color);
$button-edit-color: var(--button-edit-color);

$green-50: #53812F;
$green-70: #6CA241;
$green-100: #79B24B;
$green-200: #a8db79;
$background-exit-opacity: rgba(65, 240, 158, 0.349);

$blue-50: #235B9B;
$blue-70: #397CCA;
$blue-100: #4A90E2;
$blue-200: #84BDFF;
$blue-300: #D1E7FF;

$body-background: #F9F9F9;

$warning-150: #F0BB41;

$black-150: #292929;

$disabled-gray: #F8F7F8;

$dark-gray-50: #393939;
$dark-gray-100: #585858;
$dark-gray-150: #7e7e7e;

$medium-gray-100: #888888;


$red-50: #9F2B2B;
$red-70: #c13c3c;
$red-100: #df4f4f;
$red-200: #ff8a8a;
$red-header: #c8102e;

$orange-100: #cb6d33;

$pinkish-grey-37: rgba(209,209,209,0.37);
$pinkish-grey-47: rgba(209,209,209,0.47);

$card-header: #567b97;

$white: #FFFFFF;

$transparent-white-70: rgba(255, 255, 255, .7);


.color-green-100 {
  color: $green-100;
}

.color-medium-gray {
  color: $medium-gray-100;
}

.color-primary {
  color: $primaryColor;
}

.background-primary-color {
  background-color: $primaryColor;

}

.background-body {
  background-color: #F9F9F9;
}

.background-transparent-white {
  background-color: $transparent-white-70;
}

.text-gray {
  color: #A3A3A3
}

.left-border-light-blue-10-px {
  border-left: 10px solid $blue-100;
}

.border-bottom-primary {
  border-bottom: 1px solid $red-header;
}

.custom-checkbox .custom-control-indicator {
  background-color: #fff;
  border: 1px solid #2c2b2c;
  border-radius: 5%;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.custom-control-description {
  color: #2c2b2c;
  font-size: 12px;
  line-height: 2.7;
}

/* When I remove background the icon goes back to that default size */
.custom-control-input:checked ~ .custom-control-indicator {
  background-color: red !important;
}