
.font-family-default {
  font-family: var(--font-family);
  font-size: 1rem;
}

.fa-25x {
  font-size:2.6em;
}

.font-size-80 {
  font-size: 80px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-9 {
  font-size: 9px;
}

label, input, select, option {
  font-size: 15px;
}
