@import "colors";

.btn-app-outline-primary {
  background-color: transparent;
  border-color: $primaryColor;
  border-radius: 3px;
  border: 1px solid;
  color: $primaryColor;
  cursor: pointer;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $primaryColor;
    border-color: $primaryColor;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $primaryColor;
    border-color: $primaryColor;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-app-primary {
  background-color: $primaryColor;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $primaryColor;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $blue-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $blue-200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}
.btn-app-back {
  background-color: $medium-gray-100;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $medium-gray-100;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $dark-gray-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
}
.card-h{
  background-color: $primaryColor;
  padding-top: 2%;
}
.btn-app-primary-rounded {
  background-color: $primaryColor;
  border-radius: 50px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $primaryColor;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $blue-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $blue-200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.filter-input {
  height: 45px !important;
}

.filter-select {
  width: 200px;
}

.error-input {
  border-color: $red-70 !important;
}
.error-p {
  color: $red-70;
}

.requiredField{
  color: $red-70;
}

.icon-check{
  color: $green-100;
}

.btn-app-orange {
  background-color: $orange-100;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $orange-100;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }

  &:active {
    background-color: $orange-100;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }

  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $orange-100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}


// Change autocomplete background color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  transition: background-color 5000s ease-in-out 0s;
}

.bg-color-blue {
  background-color: $blue-100;
}

.limit-descripction {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 15px;
  max-height: 137px;
  height: 137px;
  -webkit-line-clamp: 2;
}

.centrarDiv {
  position: absolute !important;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
}

.centrarDivBajo {
  display: flex;
  align-items: flex-end;
}

.centrarDivHorizontal {
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
}

.centrarDivVertical {
   display: flex;
   align-items: center;
}

.button-round {
  border-radius: 50px;
  min-width: 170px;
}

.tramite-img-size{
  width: 100px;
  height: 80px;
}

.info-icon-class{
  width: 23px;
  text-align-last: center;
}

.circle-icon {
  padding: 4px;
  border-radius: 50%;
  border: 1.5px solid $primaryColor;
}