@import "colors";

.btn-logout {
  color: $indigo-200;
  transition: all .25s linear;
  &:hover {
    color: $indigo-100;
    transition: all .25s linear;
  }
  &:active {
    color: $indigo-50;
    transition: all .25s linear;
  }
}

.active-menu-tasklist-item {
  color: $warning-150 !important;
  border-bottom: 2px solid;
}

.btn-app-outline-primary {
  background-color: transparent;
  border-color: $blue-100;
  border-radius: 3px;
  border: 1px solid;
  color: $blue-100;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $blue-70;
    border-color: $blue-70;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $blue-50;
    border-color: $blue-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $blue-200;
    border-color: $blue-200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-app-primary {
  background-color: $primaryColor;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $primaryColor;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $blue-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $blue-200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-app-success {
  background-color: $green-100;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $green-70;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $green-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $green-200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-app-danger {
  background-color: $red-100;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $red-70;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(103, 36, 36, 0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(103, 36, 36, 0.38);
    box-shadow: 0 1px 4px 0 rgba(103, 36, 36, 0.38);
  }
  &:active {
    background-color: $red-50;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(103, 36, 36, 0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(103, 36, 36, 0.5);
    box-shadow: 0 1px 7px 0 rgba(103, 36, 36, 0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $red-200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-lower {
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

.btn-app-secondary {
  background-color: $medium-gray-110;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 11px 40px;
  transition: all .25s linear;
  outline: none;

  &:hover {
    background-color: $medium-gray-50;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $medium-gray-20;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $medium-gray-200;
    cursor: not-allowed;
  }
}

.btn-app-show {
  background-color: transparent;
  border: 1.9px solid $dark-blue-100;
  border-radius: 3px;
  color: $dark-blue-100;
  cursor: pointer;
  padding: 5px 7px;
  transition: all .25s linear;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $dark-blue-100;
    color: $white;
    border-radius: 3px;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $dark-blue-50;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $dark-blue-300;
    cursor: not-allowed;
  }
}

.btn-app-edit {
  background-color: transparent;
  border: 1.9px solid $blue-100;
  border-radius: 3px;
  color: $blue-100;
  cursor: pointer;
  padding: 5px 7px;
  transition: all .25s linear;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $blue-100;
    color: $white;
    border-radius: 3px;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $blue-50;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $blue-300;
    cursor: not-allowed;
  }
}

.btn-rounded-primary {
  background-color: transparent;
  border: 1.9px solid $blue-100;
  border-radius: 24px;
  color: $blue-100;
  cursor: pointer;
  padding: 10px 20px 10px 10px;
  transition: all .25s linear;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $blue-100;
    border: 1.9px solid $blue-100;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $blue-50;
    border: 1.9px solid $blue-50;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $blue-300;
    cursor: not-allowed;
  }
}

.btn-rounded-danger {
  background-color: transparent;
  border: 1.9px solid $red-100;
  border-radius: 24px;
  color: $red-100;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  transition: all .25s linear;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $red-100;
    border: 1.9px solid $red-100;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $red-50;
    border: 1.9px solid $red-50;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $red-200;
    cursor: not-allowed;
  }
}

.btn-small {
  padding: 0;
  height: 38px;
  width: 40px;
}

.filter-input {
  height: 45px !important;
}

.filter-select {
  width: 200px;
}

.inner-right-input-button {
  color: $medium-gray-110;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: color linear .2s;

  &:hover {
    color: $medium-gray-50;
    transition: color linear .2s;
  }
  &:active {
    color: $medium-gray-20;
    transition: color linear .2s;
  }
}

.ng-invalid {
  // border-color: #DC3545;
}
.error-input {
  border-color: $red-70;
}
.error-p {
  color: $red-70;
}

.icon-check{
  color: $green-100;
}

.btn-danger {
  background-color: transparent;
  border: 1.9px solid $red-100;
  border-radius: 3px;
  color: $red-100;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  transition: all .25s linear;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $red-100;
    border: 1.9px solid $red-100;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $red-50;
    border: 1.9px solid $red-50;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $red-200;
    cursor: not-allowed;
  }
}

.btn-view-info {
  background-color: transparent;
  border: 1.9px solid $yellow-100;
  border-radius: 3px;
  color: $yellow-100;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  transition: all .25s linear;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $yellow-100;
    border: 1.9px solid $yellow-100;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }
  &:active {
    background-color: $yellow-100;
    border: 1.9px solid $yellow-100;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }
  &:focus {
    transition: all .25s linear;
    outline: none;
  }
  &:disabled {
    background-color: $yellow-100;
    cursor: not-allowed;
  }
}

.input-border {
  border: 1px solid $input-border;
}

.border-radius-tr-25-rem {
  border-top-right-radius: .25rem;
}

.border-radius-br-25-rem {
  border-bottom-right-radius: .25rem;
}

.border-radius-ly-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-radius-ry-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.file-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  border: dashed 1px $light-gray-100;

  i {
    color: $medium-gray-110;
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.input-file-border {
  border: dashed 1px $light-gray-100;
}

.file-name {
  padding-top: 5px;
}

// Change autocomplete background color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  transition: background-color 5000s ease-in-out 0s;
}

.btn-rounded-bordered-yellow {
  border-color: $yellow-150;
  color: $yellow-150;

  &:hover {
    background-color: $yellow-150;
    border: 1.9px solid $yellow-150;
    color: $white;
    transition: all .25s linear;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.38);
  }

  &:active {
    background-color: $yellow-150;
    border: 1.9px solid $yellow-150;
    color: $white;
    transition: all .25s linear;
    outline: none;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5);
  }

  &:focus {
    transition: all .25s linear;
    outline: none;
  }

  &:disabled {
    background-color: $yellow-150;
    cursor: not-allowed;
  }
}
