<div class="card">
    <div class="card-header background-card-header pb-0">
        <div class="card-title text-white">
            <em class="fas fa-envelope"></em>
            {{ 'carpeta_ciudadana.identification.means_of_notification.title' | translate }}
        </div>
    </div>
    <div class="card-body row" *ngIf="selectMeans">
        <div class="form-group col-md-6">
            <app-input-text
                [form] = "formNotificationMeans"
                label = "{{ 'carpeta_ciudadana.identification.means_of_notification.means' | translate }}"
                controlName = "notification_means"
                idValue = "notification_means"
                nameValue = "notification_means"
                [isReadOnly] = "true"
                value="Eléctronico"
            >
            </app-input-text>
        </div>
        <div class="col-md-6 mx-auto">
            <app-input-text (change)="capturarCorreo($event.target.value)"
            [form]="formNotificationMeans"
            label="{{ 'carpeta_ciudadana.identification.means_of_notification.email' | translate }}"
            controlName="email"
            idValue="email"
            nameValue="email"
            [isMail]="true"
            [isReadOnly] = "readOnly"
            [isRequired]="true"
            placeholder="{{ 'carpeta_ciudadana.identification.means_of_notification.email' | translate }}"
            [error]="emailError"
            [errorText]="emailErrorText"
            [draft]="draftNotificationMeansData"
        ></app-input-text>
        </div>
    </div>
</div>