<div id="portlet-generic">
    <ul>
        <li>
            <label> {{ 'web_map.home' | translate }} </label>
            <ul>
                <li>
                    <label> {{ 'web_map.citizen_folder.title' | translate }}</label>
                    <ul>
                        <li><a href="#"> {{ 'web_map.citizen_folder.notification_mailbox' | translate }}</a></li>
                        <li><a href="#"> {{ 'web_map.citizen_folder.request' | translate }}</a></li>
                        <li><a href="#"> {{ 'web_map.citizen_folder.personal_information' | translate }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/tablon-de-anuncios"> {{ 'web_map.bulletin_board' | translate }}</a>
                </li>
                <li>
                    <a href="/perfil-de-contratante">{{ 'web_map.contractor_profile' | translate }}</a>
                </li>
                <li>
                    <label> {{ 'web_map.electronic_services.title' | translate }}</label>
                    <ul>
                        <li><a href="/validacion">{{ 'web_map.electronic_services.csv' | translate }}</a></li>
                        <li><a href="/factura-electronica">{{ 'web_map.electronic_services.signature_certificate' | translate }}</a></li>
                        <li><a href="/factura-electronica"> {{ 'web_map.electronic_services.electronic_bill' | translate }}</a></li>
                        <li><a href="/notificaciones"> {{ 'web_map.electronic_services.notification' | translate }}</a></li>
                    </ul>
                </li>
                <li>
                    <label> {{ 'web_map.procedure.procedures' | translate }}</label>
                    <ul>
                        <li><a href="/categories/c6a1d14f-1d35-450b-b14c-0279dc1054e3"> {{ 'web_map.procedure.general_instances' | translate }}</a></li>
                        <li><a href="/categories/246cc666-ee3a-440d-8e1e-b7b998a22b95"> {{ 'web_map.procedure.bonus_loans' | translate }}</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <label> {{ 'web_map.help.title' | translate }}</label>
            <ul>
                <li>
                    <a [routerLink]="['/conoce-la-sede']" [fragment]="['know_sede']"> {{ 'web_map.help.know_sede.know_sede' | translate }}</a>
                    <ul>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['normative']"> {{ 'web_map.help.know_sede.normative' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['contents']"> {{ 'web_map.help.know_sede.contents' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['services']"> {{ 'web_map.help.know_sede.services' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['electronic_record']"> {{ 'web_map.help.know_sede.electronic_record' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['signature_certificates+']"> {{ 'web_map.help.know_sede.signature_certificates' | translate }} </a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['document_veriication']"> {{ 'web_map.help.know_sede.document_veriication' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['date']"> {{ 'web_map.help.know_sede.date' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['calendars']"> {{ 'web_map.help.know_sede.calendars' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['records_offices']"> {{ 'web_map.help.know_sede.records_offices' | translate }}</a></li>
                        <li><a [routerLink]="['/conoce-la-sede']" [fragment]="['programs_stops']"> {{ 'web_map.help.know_sede.programs_stops' | translate }}</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/certificado-electronico">{{ 'web_map.help.how_certificate' | translate }}</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/requisitos-tecnicos">{{ 'web_map.help.technical_requirements' | translate }}</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/catalogo-de-procedimientos">{{ 'web_map.help.procedures_finder' | translate }}</a>
                </li>
            </ul>
        </li>
        <li>
            <label>{{ 'web_map.footer.contact.title' | translate }}</label>
            <ul>
                <li><a href="/contact">{{ 'web_map.footer.contact.information' | translate }}</a></li>
            </ul>
        </li>
        <li>
            <label>{{ 'web_map.footer.access.title' | translate }}</label>
            <ul>
                <li><a href="/accesibilidad">{{ 'web_map.footer.access.Accessibility' | translate }}</a></li>
                <li><a href="/mapa-web">{{ 'web_map.footer.access.web_map' | translate }}</a></li>
                <li><a href="/aviso-legal">{{ 'web_map.footer.access.legal_warning' | translate }}</a></li>
            </ul>
        </li>
    </ul>
</div>